Signed in as <strong><%= fb_user.name %></strong>!<br>
what is going on

<div class="sheet sheet-condensed">
  <div class="sheet-inner">
<table cellpadding="0" cellspacing="0" class="table" width="100%">
        <thead class="sTableHead">
  <tr>
    <th class="head0">Email Address</th>
    <th class="head0">Edit</th>
    <th class="head0">Delete</th>
  </tr>
    </thead>
<% @staff.each do |u| %>
 <tr>
    <td><%= link_to u.name, edit_staff_path(u) %> </td>
    <td><i class="icon-edit icon-white"><%= link_to 'Edit', edit_staff_path(u) %></i></td>
    </tr>
    </table>
    <br />
<% end %>

    </div>



    </div>
