.bundle
db/*.sqlite3
log/*.log
.sass-cache/
*.DS_Store
doc/
.DS_Store
*/cache
*/pids
.txt
*.TXT
features
test
spec

*/features
*/test
*/spec

# Files that might appear on external disk
.Spotlight-V100
.Trashes
.DS_Store

app/.DS_Store

app/assets/.DS_Store

config/.DS_Store

lib/.DS_Store
