<ul data-role="listview" data-divider-theme="b">
    <li data-role="list-divider">Menu</li>
        <li><%= link_to "Home", root_path %></li>
   <% if current_user.is? :manager %>
    <li><%= link_to "Calendar", calendar_path %></li>
<% end %>
<li><%= link_to "All Jobs", alljobs_path %></li>

</ul>
