<table data-role="table" data-mode="reflow" class="ui-responsive table-stroke">
<thead>
<tr>
    <th>Sun</th>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
  </tr>
</thead>
 <tbody>
  <tr>
    <% (begin_weekly_calendar..end_weekly_calendar(2)).each do |d| %>
      <% if d.wday == 0 %></tr><tr><% end %>
        <td>
          <%= d.day %>
           <% if @event[d.to_date] %>

          <ul>
            <% @event[d.to_date].each do |e| %>
              <li><%= link_to"#{e.act_code} - #{e.last_name}", e %></li>
            <% end %>
          </ul>
<% end %>
        </td>
      <% end %>
  </tr>
 </tbody>
</table>