<% if can? :see_others, @contract %>
<h3>Other Acts</h3>
<table id="grid">
  <thead>
      <tr>
          <th data-field="title">Act Name<th>
          <th data-field="year">Act Code<th>
      </tr>
  </thead>
  <tbody>
	<% @otheracts.each do |otheract| %>
      <tr>
          <td><%= link_to otheract.fullname, otheracts_path(:act_code => otheract.actcode) %> </td>
          <td><%= link_to otheract.actcode, otheracts_path(:act_code => otheract.actcode) %></td>
      </tr>
<% end %>
  </tbody>
 </table>
<% end %>
