<%#= @but.inspect %>
<article class="third-block clearfix">
<% if can? :see_others, @contract %>
<h4>Other Acts</h4>
<table class="table-actions">
  <thead>
      <tr>
          <th>Act Name</th>
          <th>Act Code</th>
      </tr>
  </thead>	
<% @otheracts.each do |otheract| %>  
<tr>
          <td><%= link_to otheract.fullname, otheracts_path(:act_code => otheract.actcode) %> </td>
          <td><%= link_to otheract.actcode, otheracts_path(:act_code => otheract.actcode) %></td>
      </tr>

 <% end %>
 </table>
<% end %>
</article>
