<%#= simple_format @users.to_yaml %>
<div class="">
<% @contract.each do |m| %>
<% unless m.confirmation == 0  %>
<li><%= link_to "#{m.act_booked} " "-" " #{m.date_of_event} " "-" " #{m.location_city} " "-" " #{m.event_start_time} - #{m.event_end_time}", m, :class => "confirmed"  %></li>
<% else %>
  <li><%= link_to "#{m.act_booked} " "-" " #{m.date_of_event} " "-" " #{m.location_city} " "-" " #{m.event_start_time} - #{m.event_end_time}", m, :class => "Wunconfirmed"  %></li>
<% end %>


<% end %>
</div>
<hr>
<h3>Email Almost Working</h3>
<% @recipients.each do |email| %>
<li><%= email%></li>
<% end %>


<div>
	<% @noactcode.each do |ac| %>
	<li><%= ac.act_code %></li>
	<% end %>
</div>	