<div class="">
<% @contract.each do |m| %>
<li><%= "#{m.act_booked} " "-" " #{m.date_of_event} " "-" " #{m.location_city} " "-" " #{m.event_start_time} - #{m.event_end_time}"  %> 
<%# end %> </li>
<% end %>
</div>