<div class="">
<% @contract.each do |m| %>
<li><%= link_to "#{m.act_booked} " "-" " #{m.date_of_event} " "-" " #{m.location_city} " "-" " #{m.event_start_time} - #{m.event_end_time}", m  %></li>
<% end %>
</div>
<hr>
<h3>Email Almost Working</h3>
<% @recipients.each do |email| %>
<li><%= email%></li>
<% end %>
<hr>
<div id="name">
	<% @users.each do |user| %>
<li><%= user.email %></li>
	<% end %>
	
</div>