
<div class="pageheader">
    <div class="pageicon"><span class="iconfa-table"></span></div>
    <div class="pagetitle">
    <h5>Tables</h5>
    <h1>Table Static</h1>
</div>
</div>
<h4 class="widgettitle">All Jobs in the Next 10 Days</h4>
<%= render 'frontjobs', contract: @contracts  %>
<br>
<% if current_user.is? :manager %>

<h4 class="widgettitle">All Management Team contracts in the Next 10 Days</h4>

<%= render  'frontjobs', contract: Contract.where(act_code: @manger.split(",")).tenday.all  %>
<% end %>


