<!-- <%#= @start_date.inspect %>
<%#=  @events.inspect %>
<%#= @str.inspect %> -->
<table cellpadding="0" cellspacing="0" class="sTable" width="100%">
	<thead>
	 <tr>
					<th>Date of Event</th>
					<th>Contract #</th>
				    <th>Client Name</th>
				    <th>Hours of coverage</th>


				    <th>Event Type</th>
				    <th>Location</th>

					<th> </th>
				  </tr>
				</thead>
	<tbody>

<!-- <dd>Events in the next 7 days</dd> -->
<%= render :partial => 'sevenday', :collection => @contract.thisweek  %>
<!-- <dd>Events in the next 10 days</dd> -->
<%= render :partial => 'sevenday', :collection => @contract.tenday  %>
<!-- <dd>Events in the next 30 days</dd></strong> -->
<%= render :partial => 'sevenday', :collection => @contract.thirtyday  %>





  </tbody>
</table>



