<div id="mainpage" title="Contracts" class="panel" selected="true">	
<h2>Events This Month</h2>
<ul>

<%= render :partial => 'sevenday', :collection => @contract.thisweek%>
<%= render :partial => 'sevenday', :collection => @contract.tenday%>
<%= render :partial => 'sevenday', :collection => @contract.thirtyday%>
</ul>
</div>


