<div data-role="header">
    <h1>Next 10 Days</h1>
    </div>
<div data-role="content">
<%= render 'frontjobs', contract: @contracts  %>
<br>
<% if current_user.is? :manager %>
<h3>All Management Team contracts in the Next 10 Days</h3>
<%= render  'frontjobs', contract: Contract.where(act_code: @manger.split(",")).tenday.all  %>
<% end %>
</div>
</div>
<div data-role="footer">...</div>