<h1><span>All Jobs in the Next 10 Days</span></h1>
<%= render 'frontjobs', contract: @contracts  %>
<br>
<% if current_user.is? :manager %>
<div class="page-header">
<h1><span>All Management Team contracts in the Next 10 Days</span></h1>
</div>
<%= render  'frontjobs', contract: Contract.where(act_code: @manger.split(",")).tenday.all  %>
<% end %>


