<div id="mainpage" title="Contracts" class="panel" selected="true">	
<h2>Events This Month</h2>
<ul>

	<%= render @contract.thisweek   %>

	<%= render @contract.tenday %>

	<%= render @contract.thirtyday  %>
</ul>
</div>


