<div class="sheet sheet-condensed">
<%= @contract.count %><br><br>
<% @contract.each do |wow| %>
<%= wow %>
<% end %>


<%= @notconfirmed.count %><br>

<% @notconfirmed.each do |em| %>
<%= em %><br>
<% end %>

</div>