<!-- <div class="pageheader">
    <!-- <form action="results.html" method="post" class="searchbar">
        <input type="text" name="keyword" placeholder="To search type and hit enter..." />
    </form> -->
    <!-- <div class="pageicon"><span class="iconfa-money"></span></div> -->
    <!-- <div class="pagetitle">
        <h5>Sample Text Here</h5>
        <h1>Sample Invoice</h1>
</div> -->
<!-- ></div> --><!--pageheader-->

<div class="maincontent">
    <div class="maincontentinner">
        <div class="row-fluid">
            <%#= render 'show/version', contract: @contract %>
            <%= render 'show/topmoney', contract: @contract %>
            <%#= render  "show/mainandmap", contract: @contract %>
            <%#= render  "show/clientextra", contract: @contract %>
            <%#= render  "show/provision", contract: @contract %>
            <%#= render  "show/weddingstuff", contract: @contract %>
            <%#= render  "show/moneysection", contract: @contract %>
        </div>

</div>
</div>

