<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => { :id => "loginform" }) do |f| %>
<div class="loginbox">	
	<div class="loginbox_inner">
    	<div class="loginbox_content">
		<%= f.email_field :email,  :class => "username" %>
		<%= f.password_field :password,  :class => "password" %>
	
		<%= button_tag "Login", :class => "submit" %>		
         </div><!--loginbox_content-->
    </div><!--loginbox_inner-->
</div><!--loginbox-->
<% end %>
