<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.email %>
</p>

<p>
  <b>Manageagement code:</b>
  
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
