<div>
	<p style="margin: 0px; font-size: 19px; font-family: Arial;">
		<strong style="font-family: 'Times New Roman'; font-size: 21px;"><span style="font-size: 14px;">Dear <%= @contract.first_name %>,</span></strong><br />
		<br />
		<b><span style="font-size:12px;"><span style="font-family: arial, helvetica, sans-serif;">Washington Talent is much more than DJs and Bands!<br />
		<br />
		Photo Booths have made a huge comeback and we have more than one kind to offer.<br />
		<br />
		If you are considering a Photo Novelty of some kind for the Simcha consider one of our popular Photo Booths.&nbsp;<br />
		<br />
		Get $100 off whichever booth you prefer since you are already a client of ours.&nbsp;</span></span></b><br />
		<br />
		<span style="font-family: 'Comic Sans MS'; font-size: 18px;">Learn more about the Photo Booths we offer&nbsp;</span><span style="font-family: 'Comic Sans MS'; color: rgb(12, 24, 95);"><a href="http://washingtontalent.com/ournovelties/photo-booths.html/"><span style="font-size: 18px; font-family: Arial; color: rgb(9, 52, 193);">click here</span></a></span></p>
	<p style="margin: 0px; font-size: 11px; font-family: Arial; color: rgb(189, 57, 24);">
		&nbsp;</p>
	<p style="margin: 0px 0px 16px; font-size: 18px; font-family: 'Comic Sans MS';">
		<img align="none" height="393" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/PhotoBoothXL_on_Wht.jpg" style="width: 500px; height: 393px;" width="500" /><img align="none" height="393" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/Click_Pix_Booth3eb881.JPG" style="width: 356px; height: 393px;" width="356" /></p>
	<p style="margin: 0px; font-size: 18px; font-family: 'Comic Sans MS';">
		<br />
		<a href="http://washingtontalent.com/novelties/" style="text-align: right; font-family: Arial; font-size: 16px;"><b>See our list of Novelty options</b></a></p>
	<p style="margin: 0px 0px 16px; font-size: 12px; font-family: 'Comic Sans MS'; ">
		&nbsp;</p>
	<p style="margin: 0px; font-size: 16px; font-family: Arial; color: rgb(9, 52, 193); ">
		<a href="mailto:info@washingtontalent.com"><b>Email Us Now</b></a></p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Times; ">
		<b>Angel Santiago</b><span style="font-family: 'Times New Roman'; "> </span><br />
		Marketing Director / Event Personality<span style="font-family: 'Times New Roman'; "> </span><br />
		Washington Talent Agency<span style="font-family: 'Times New Roman'; "> </span><br />
		angel@washingtontalent.com<b>&nbsp;</b></p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Verdana; color: rgb(4, 51, 255); ">
		<a href="http://washingtontalent.com/">Washingtontalent.com</a></p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		&nbsp;</p>
</div>
<div>
	&nbsp;</div>
<center>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
		<tbody>
			<tr>
				<td align="left" style="padding-bottom:0;" valign="top">
					<%= render "unsubscribe_footer" %>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
