<div>
	<p style="margin: 0px; font-size: 21px; font-family: 'Times New Roman'; ">
		<strong><span style="font-size:14px;">Dear <%= @contract.first_name %>,</span></strong></p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; min-height: 18px; ">
		<br />
		<span style="font-size:14px;">Still considering a novelty act for the big party? Check out <strong>Imagine Me</strong>!</span><br />
		&nbsp;</p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		<span style="font-size:14px;"><b><i>Imagine Me</i></b> will put you and your guest&#39;s faces onto the bodies of celebrities, swimsuit models, and on the covers of Sports Illustrated, Time and Fortune among other magazines.</span></p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		<span style="font-size:14px;">What&#39;s best about <b><i>Imagine Me</i></b> is that it serves a double purpose- not only will your guests be entertained watching their friends faces put onto different bodies and having the pictures printed out on the spot but they will also have a great keepsake to take home after the Mitzvah.&nbsp;</span></p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		<img align="none" height="480" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/Oct_19_003.jpg" style="width: 277px; height: 480px;" width="277" /><br />
		<span style="font-size:14px;">Since you are already a client, we can offer you <b>unlimited </b>4&rdquo;x6&rdquo; prints for up to four hours of <b><i>Imagine Me</i></b> at our three hour price. This deal doesn&rsquo;t last forever so make sure to reply to this email for more info.</span></p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		&nbsp;</p>
	<p style="margin: 0px 0px 7px; font-size: 16px; font-family: Arial; color: rgb(9, 52, 193); ">
		<a href="http://washingtontalent.com/novelties/"><b>See our list of Novelty options</b></a></p>
	<p style="margin: 0px 0px 7px; font-size: 12px; font-family: 'Comic Sans MS'; ">
		&nbsp;</p>
	<p style="margin: 0px; font-size: 16px; font-family: Arial; color: rgb(9, 52, 193); ">
		<a href="mailto:info@washingtontalent.com"><b>Email Us Now</b></a></p>
	<p style="margin: 0px 0px 7px; font-size: 16px; font-family: Times; ">
		<b>Angel Santiago</b><span style="font-family: 'Times New Roman'; "> </span><br />
		Marketing Director / Event Personality<span style="font-family: 'Times New Roman'; "> </span><br />
		Washington Talent Agency<span style="font-family: 'Times New Roman'; "> </span><br />
		angel@washingtontalent.com<b>&nbsp;</b></p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		&nbsp;</p>
</div>
<div>
	&nbsp;</div>
<center>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
		<tbody>
			<tr>
				<td align="center" style="padding-bottom:0;" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" id="canspamBar" width="600">
						<tbody>
							<tr>
								<td align="left" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;" valign="top">
									Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a><br />
									<a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a><br />
									*|LIST:ADDRESSLINE|*</td>
								<td align="left" valign="top">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
