<div>
	<p style="margin: 0px; font-size: 19px; font-family: Arial;">
		<strong style="color: rgb(189, 57, 24); font-size: 11px;"><span style="color: rgb(0, 0, 0);"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;">Dear <%= @contract.first_name %>,</span></span></span></strong><br />
		<br />
		<span style="font-size:24px;"><b><span style="font-family: arial, helvetica, sans-serif;">Washington Talent is much more than DJs and Bands! </span></b></span></p>
	<p style="margin: 0px; font-size: 11px; font-family: Arial; color: rgb(189, 57, 24);">
		&nbsp;</p>
	<p style="margin: 0px 0px 16px; font-size: 18px; font-family: 'Comic Sans MS';">
		<span style="font-size:14px;"><span style="font-family: arial, helvetica, sans-serif;">You&#39;ve seen Green Screen before but no one does it like Washington Photo!<br />
		<br />
		With professional shooters and high-end equipment, our quality and service is unmatched anywhere.&nbsp;<br />
		<br />
		Act now and get $100 knocked off your Green Screen booking just becasue you are already a client of ours.&nbsp;</span></span><br />
		<br />
		<span style="font-family: arial, helvetica, sans-serif;"><span style="color: rgb(12, 24, 95);">Watch our promotional video for Green Screen now&nbsp;</span></span><span style="font-family: arial, helvetica, sans-serif; color: rgb(9, 52, 193);"><a href="http://washingtontalent.com/corporate-novelties/green-screen-photography.html/">click here</a></span><br />
		<br />
		<img align="none" height="533" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/GrnScrn2e53906.jpg" style="width: 800px; height: 533px;" width="800" /></p>
	<p style="margin: 0px 0px 16px; font-size: 18px; font-family: 'Comic Sans MS';">
		<br />
		<b style="text-align: right; font-family: Arial; font-size: 16px;"><a href="http://washingtontalent.com/novelties/" style="text-align: right; font-family: Arial; font-size: 16px;">See our list of Novelty options</a></b></p>
	<p style="margin: 0px; font-size: 16px; font-family: Arial; color: rgb(9, 52, 193); ">
		<a href="mailto:info@washingtontalent.com"><b>Email Us Now</b></a></p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Times; ">
		<b>Angel Santiago</b><span style="font-family: 'Times New Roman'; "> </span><br />
		Marketing Director / Event Personality<span style="font-family: 'Times New Roman'; "> </span><br />
		Washington Talent Agency<span style="font-family: 'Times New Roman'; "> </span><br />
		angel@washingtontalent.com<b>&nbsp;</b></p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Verdana; color: rgb(4, 51, 255); ">
		<a href="http://washingtontalent.com/">Washingtontalent.com</a></p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		&nbsp;</p>
</div>
<div>
	&nbsp;</div>
<center>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
		<tbody>
			<tr>
				<td align="center" style="padding-bottom:0;" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" id="canspamBar" width="600">
						<tbody>
							<tr>
								<td align="left" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;" valign="top">
									Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a><br />
									<a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a><br />
									*|LIST:ADDRESSLINE|*</td>
								<td align="left" valign="top">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
