<div>
	<p style="margin: 0px; text-align: center; font-size: 19px; font-family: Arial; ">
		<b>Photography is more than the final product...</b><br />
		&nbsp;</p>
	<p style="margin: 0px; font-size: 19px; font-family: Arial;">
		<strong style="color: rgb(189, 57, 24); font-size: 11px;"><span style="color: rgb(0, 0, 0);"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;">Dear <%= @contract.first_name %>,</span></span></span></strong><br />
		&nbsp;</p>
	<p style="margin: 0px; font-size: 11px; font-family: Arial; color: rgb(189, 57, 24); ">
		<span style="font-size:14px;"><span style="color: rgb(0, 0, 0);">Our C.E.O., Robert Sherman, took the time to share with us his experience using Photography at his own Simchas.</span></span><br />
		&nbsp;</p>
	<p style="margin: 0px 0px 16px; font-size: 15px; font-family: 'Times New Roman'; ">
		<span style="font-size:14px;"><strong><i>I have four children who have each become a Bar/Bat Mitzvah. The photo albums and videos of these special events provide plenty of good family entertainment. Even though both photo albums are brilliant, I like my oldest son&#39;s album better than any other and it has nothing to do with the quality of the pictures.&nbsp;</i></strong><strong><i>The reason is that the photographer who shot my son&#39;s Mitzvah was fun, energetic and patient besides being talented. Taking great pictures is a difficult job and sometimes requires uncomfortable positions and standing still for extended periods of time. The photographer for my son made these moments fun. He made us laugh and kept everyone engaged, not an easy task!&nbsp;</i></strong><strong><i>The thing to remember is that you will be with your photographer all day. You better like his/her personality as much or more than the picture quality. Trust me, your photographer&#39;s demeanor can set the tone for you and your child&#39;s whole day so choose wisely.</i></strong></span></p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman'; ">
		<span style="font-size:14px;"><span style="color:#ff0000;"><strong>We want to offer you a Free Package Upgrade on a Photography Package you book with us. For example, you can book Package #1 for most photographers and get the next package up, free of cost!&nbsp;</strong></span><br />
		<br />
		This will not last long. Some restrictions do apply. Not available on Photographers Jack Hartzman or Monica Vidal.<br />
		<br />
		Check out the work of the Photographers available for this deal&nbsp;<a href="http://washingtontalent.com/bat-and-bat-mitzvah-photographers/" target="_blank">http://washingtontalent.com/bat-and-bat-mitzvah-photographers/</a><br />
		<br />
		Act fast and contact us today!</span></p>
	<p style="margin: 0px; font-family: Arial; color: rgb(9, 52, 193); ">
		<span style="font-size:14px;"><a href="mailto:info@washingtontalent.com">Email Us Now</a></span></p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Times; ">
		<span style="font-size:14px;"><b>Angel Santiago</b><span style="font-family: 'Times New Roman';"> </span><br />
		Marketing Director / Event Personality<span style="font-family: 'Times New Roman';"> </span><br />
		Washington Talent Agency<span style="font-family: 'Times New Roman';"> </span><br />
		angel@washingtontalent.com<b>&nbsp;</b></span></p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Verdana; color: rgb(4, 51, 255); ">
		<span style="font-size:14px;"><a href="http://washingtontalent.com/">Washingtontalent.com</a></span></p>
</div>
<div>
	&nbsp;</div>
<center>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
		<tbody>
			<tr>
				<td align="left" style="padding-bottom:0;" valign="top">
					<%= render "unsubscribe_footer" %>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
