<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 11">
<meta name=Originator content="Microsoft Word 11">
<link rel=File-List
href="Level%203%20Mitzvah%20-%20Photography_files/filelist.xml">
<link rel=Edit-Time-Data
href="Level%203%20Mitzvah%20-%20Photography_files/editdata.mso">
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
<title>Photography is more than the final product</title>
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>Angel Santiago</o:Author>
  <o:LastAuthor>Angel Santiago</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>1</o:TotalTime>
  <o:Created>2012-09-06T14:46:00Z</o:Created>
  <o:LastSaved>2012-09-06T14:46:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>284</o:Words>
  <o:Characters>1621</o:Characters>
  <o:Company>Washington Talent</o:Company>
  <o:Lines>13</o:Lines>
  <o:Paragraphs>3</o:Paragraphs>
  <o:CharactersWithSpaces>1902</o:CharactersWithSpaces>
  <o:Version>11.9999</o:Version>
 </o:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
  {font-family:Verdana;
  panose-1:2 11 6 4 3 5 4 4 2 4;
  mso-font-charset:0;
  mso-generic-font-family:swiss;
  mso-font-pitch:variable;
  mso-font-signature:-1593833729 1073750107 16 0 415 0;}
@font-face
  {font-family:"Comic Sans MS";
  panose-1:3 15 7 2 3 3 2 2 2 4;
  mso-font-charset:0;
  mso-generic-font-family:script;
  mso-font-pitch:variable;
  mso-font-signature:647 0 0 0 159 0;}
@font-face
  {font-family:Times;
  panose-1:2 2 6 3 5 4 5 2 3 4;
  mso-font-charset:0;
  mso-generic-font-family:roman;
  mso-font-pitch:variable;
  mso-font-signature:7 0 0 0 147 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
  {mso-style-parent:"";
  margin:0in;
  margin-bottom:.0001pt;
  mso-pagination:widow-orphan;
  font-size:12.0pt;
  font-family:"Times New Roman";
  mso-fareast-font-family:"Times New Roman";}
a:link, span.MsoHyperlink
  {color:blue;
  text-decoration:underline;
  text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
  {color:purple;
  text-decoration:underline;
  text-underline:single;}
p
  {mso-margin-top-alt:auto;
  margin-right:0in;
  mso-margin-bottom-alt:auto;
  margin-left:0in;
  mso-pagination:widow-orphan;
  font-size:12.0pt;
  font-family:"Times New Roman";
  mso-fareast-font-family:"Times New Roman";}
span.SpellE
  {mso-style-name:"";
  mso-spl-e:yes;}
span.GramE
  {mso-style-name:"";
  mso-gram-e:yes;}
@page Section1
  {size:8.5in 11.0in;
  margin:.25in 1.25in 45.0pt 1.25in;
  mso-header-margin:.5in;
  mso-footer-margin:.5in;
  mso-paper-source:0;}
div.Section1
  {page:Section1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
  {mso-style-name:"Table Normal";
  mso-tstyle-rowband-size:0;
  mso-tstyle-colband-size:0;
  mso-style-noshow:yes;
  mso-style-parent:"";
  mso-padding-alt:0in 5.4pt 0in 5.4pt;
  mso-para-margin:0in;
  mso-para-margin-bottom:.0001pt;
  mso-pagination:widow-orphan;
  font-size:10.0pt;
  font-family:"Times New Roman";
  mso-ansi-language:#0400;
  mso-fareast-language:#0400;
  mso-bidi-language:#0400;}
</style>
<![endif]-->
</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<div class=Section1>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:14.0pt;font-family:Arial;color:black'>Photography is more than
the final product...</span></b><b><span style='font-size:15.0pt;font-family:
Arial;color:black'> <o:p></o:p></span></b></p>

<p class=MsoNormal><span style='font-size:8.5pt;font-family:Arial;color:#BD3919'><o:p>&nbsp;</o:p></span></p>

<p>Our C.E.O., Robert Sherman, took the time to share with us his experience
using Photography at his own <span class=SpellE>Simchas</span>. <span
style='color:black'><o:p></o:p></span></p>

<p><i style='mso-bidi-font-style:normal'><span style='font-size:11.0pt;
color:black'>I have two children who have each become a Bar/Bat Mitzvah. The
photo albums and videos of these special events provide plenty of good family
entertainment. Even though both photo albums are brilliant, I like my son's
album better than my daughter's and it has nothing to do with the quality of
the pictures. <o:p></o:p></span></i></p>

<p><i style='mso-bidi-font-style:normal'><span style='font-size:11.0pt;
color:black'>The reason is that the photographer who shot my son's Mitzvah was <b>fun,
energetic and patient</b> besides being amazingly talented. Taking great
pictures is a difficult job and sometimes requires uncomfortable positions and
standing still for extended periods of time. The photographer for my son made these
moments fun. He made us laugh and not wish we were somewhere else so much. <o:p></o:p></span></i></p>

<p><i style='mso-bidi-font-style:normal'><span style='font-size:11.0pt'>The
thing to remember is that <b>you will be with your photographer all day.</b>
You better like his/her personality as much or more than the picture quality.
Trust <span class=GramE>me,</span> your photographer's demeanor can set the
tone for you and your child's whole day so choose wisely. <span
style='color:black'><o:p></o:p></span></span></i></p>

<p><b><span style='color:black'>We want to offer you a special on Photography
Services as a thank you since you have with us already. </span></b><span
style='color:#0B175F'><o:p></o:p></span></p>

<p><span style='font-size:10.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:
Arial;color:#0B175F'><a
href="https://washingtontalent.infusionsoft.com/app/linkClick/2912/7a9499039b908cd0/0/5a1db244d150bba0"
target="_blank"><span style='font-family:Arial;color:black;text-decoration:
none;text-underline:none'><!--[if gte vml 1]><v:shapetype id="_x0000_t75"
 coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
 filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="_x0000_i1025" type="#_x0000_t75" alt="" style='width:418.5pt;
 height:273pt'>
 <v:imagedata src="Level%203%20Mitzvah%20-%20Photography_files/image001.jpg"
  o:href="https://washingtontalent.infusionsoft.com/Download?Id=638"/>
</v:shape><![endif]--><![if !vml]>

<%= image_tag "contract_mailer/Mitzvah-Photographer.jpg", :border => 0, :width => 558, :height => 364, :"v:shapes" => "_x0000_i1025" %>

<![endif]></span></a></span><span
style='font-size:9.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:Arial;
color:#0B175F'><o:p></o:p></span></p>

<p><b><span style='font-size:10.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:
Arial;color:black'>Contact us for more details.</span></b><span
style='font-size:10.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:Arial;
color:black'> </span><span style='font-size:10.0pt;font-family:Arial;
color:black'><a
href="http://washingtontalent.com/bat-and-bat-mitzvah-photographers/"
target="_blank">Click here to view our collection of Photographers!</a></span><span
style='font-size:9.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:Arial;
color:#0B175F'> <o:p></o:p></span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
font-family:"Comic Sans MS";mso-bidi-font-family:Arial;color:#0B175F'><a
href="mailto:info@washingtontalent.com" target="_blank"><span style='font-family:
Arial;color:#0934C1'>Email Us Now</span></a> </span><span style='font-size:
11.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:Arial;color:#0B175F'><o:p></o:p></span></p>

<p><strong><span style='font-family:Times'>Angel Santiago</span></strong> <br>
<span style='font-family:Times'>Marketing Director / Event Personality</span> <br>
<span style='font-family:Times'>Washington Talent Agency</span> <br>
<span style='font-family:Times'>angel@washingtontalent.com<strong><span
style='font-family:Times'>&nbsp;</span></strong></span> </p>

<p><a href="http://washingtontalent.com/" target="_blank"
title=Washingtontalent.com><span style='font-family:Verdana'>Washingtontalent.com</span></a>
</p>

</div>

</body>

</html>
