<div>
	<p style="margin: 0px; text-align: center; font-size: 19px; font-family: 'Times New Roman'; color: rgb(12, 24, 95); ">
		<b>We want to offer you something just for being a part of the family!</b></p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		<br />
		<strong style="color: rgb(189, 57, 24); font-family: Arial; font-size: 11px;"><span style="color: rgb(0, 0, 0);"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;">Dear <%= contract.first_name %>,</span></span></span></strong><br />
		<br />
		<br />
		Do you have any family, friends or colleagues who are looking for Event Services for an upcoming celebration? If so, I&#39;d love for you to refer them our way so we can offer them the same great services we shared with you.<br />
		<br />
		We work hard to provide a level of service to our customers that make them feel comfortable referring their friends and family members to us. I hope we&#39;ve done that with you. As a &quot;Thank You&quot; for doing so, we would like to offer you a little kick back from anything booked because of your referral.&nbsp; Five percent (5%) of the total from any bookings made from your referral will be taken off from your existing contract or credited towards a future contract.<br />
		<br />
		You send us people who need us and in return we send you what you need; money to pay for the services you deserve.<br />
		<br />
		If you have someone in mind, please just shoot me a quick reply.<br />
		<br />
		Thanks,</p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Times; ">
		<span style="font-family: 'Times New Roman'; ">Angel Santiago </span><br />
		Marketing Director / Event Personality<span style="font-family: 'Times New Roman'; "> </span><br />
		Washington Talent Agency<span style="font-family: 'Times New Roman'; "> </span><br />
		angel@washingtontalent.com<b>&nbsp;</b></p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Verdana; color: rgb(4, 51, 255); ">
		<a href="http://washingtontalent.com/">Washingtontalent.com</a></p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		&nbsp;</p>
</div>
<div>
	&nbsp;</div>
<center>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
		<tbody>
			<tr>
				<td align="center" style="padding-bottom:0;" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" id="canspamBar" width="600">
						<tbody>
							<tr>
								<td align="left" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;" valign="top">
									Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a><br />
									<a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a><br />
									*|LIST:ADDRESSLINE|*</td>
								<td align="left" valign="top">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
