<html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=Generator content="Microsoft Word 11 (filtered)">
<title>Transform your room with Lighting </title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Verdana;
	panose-1:2 11 6 4 3 5 4 4 2 4;}
@font-face
	{font-family:"Comic Sans MS";
	panose-1:3 15 7 2 3 3 2 2 2 4;}
@font-face
	{font-family:Times;
	panose-1:2 2 6 3 5 4 5 2 3 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
p
	{margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman";}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;}
div.Section1
	{page:Section1;}
-->
</style>

</head>

<body lang=EN-US link=blue vlink=purple>

<div class=Section1>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:15.0pt;font-family:Arial;color:black'>Transform your room with
Lighting </span></b></p>

<p class=MsoNormal><span style='font-size:8.5pt;font-family:Arial;color:#BD3919'>&nbsp;</span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:11.0pt;
font-family:"Comic Sans MS";color:#0B175F'>&nbsp;</span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
font-family:"Comic Sans MS";color:#0B175F'>If you haven't thought about
lighting for your Bar/Bar Mitzvah you may be missing a <b>critical element of
the reception.</b> The right lighting can transform a room like nothing else,
next to your main entertainment this could be the <b>most important part</b> of
creating the proper mood for your celebration.</span><span style='font-size:
11.0pt;font-family:"Comic Sans MS";color:#0B175F'> </span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:11.0pt;
font-family:"Comic Sans MS";color:#0B175F'>&nbsp;</span></p>

<p style='margin:0in;margin-bottom:.0001pt'>

<%= image_tag("contract_mailer/Mitzvah-Lighting.jpg", :width => "302", :height => "201", :align => "right") %>

<span
style='font-size:11.0pt;font-family:"Comic Sans MS";color:#0B175F'><br>
</span><span style='font-size:10.0pt;font-family:"Comic Sans MS";color:#0B175F'>What
is amazing about the right lighting package is that it can <b>create the
perfect party atmosphere</b> to get all of your guests in the mood to celebrate
while the dancing is going on, create a quiet mood during dinner and then kick
it right back up again throughout the rest of the night. The lighting can
change to fit the mood of the party at all points during the evening. </span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:11.0pt;
font-family:"Comic Sans MS";color:#0B175F'>&nbsp;</span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:11.0pt;
font-family:"Comic Sans MS";color:#0B175F'>&nbsp;</span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
font-family:"Comic Sans MS";color:#0B175F'>If you are looking for that
&quot;nightclub&quot; feel then you need to consider <b>programmable
intelligent moving heads.</b> Sound Hi-Tech? Oh it definitely is, they shine
light all around the room, change colors, shapes, designs and can be programmed
to do just about anything. Looking for multiple spotlights to wave around the
room and focus onto the Bar/Bat-Mitzvah as they are introduced? These lights
can do that. </span></p>

<p class=MsoNormal style='margin-bottom:12.0pt'><span style='font-size:10.0pt;
font-family:"Comic Sans MS";color:#0B175F'><br>

<%= image_tag("contract_mailer/Mitzvah-Lighting2.jpg", :width => "558", :height => "372") %>

</span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
font-family:"Comic Sans MS";color:#0B175F'>The other lights that you should
consider are called <b>uplights.</b> Uplights are positioned along the walls
about every 8-10 feet and shine a beam up the wall like the picture below.</span><span
style='font-size:11.0pt;font-family:"Comic Sans MS";color:#0B175F'> </span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:11.0pt;
font-family:"Comic Sans MS";color:#0B175F'>&nbsp;</span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
font-family:"Comic Sans MS";color:#0B175F'>

<%= image_tag("contract_mailer/Mitzvah-Lighting3.jpg", :width => "555", :height => "370") %>

</span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:11.0pt;
font-family:"Comic Sans MS";color:#0B175F'>&nbsp;</span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
font-family:"Comic Sans MS";color:#0B175F'>If you have any other questions about
ways that lighting can enhance your wedding feel free to call me directly.
Since you already have for your reception we would like to offer you <b>20% off
of any lighting package </b>that you book with us. </span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:11.0pt;
font-family:"Comic Sans MS";color:#0B175F'>&nbsp;</span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
font-family:"Comic Sans MS";color:#0B175F'>Contact us for more details. </span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:11.0pt;
font-family:"Comic Sans MS";color:#0B175F'>&nbsp;</span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
font-family:"Comic Sans MS";color:#0B175F'><a
href="mailto:info@washingtontalent.com" target="_blank"><span style='font-family:
Arial;color:#0934C1'>Email Us Now</span></a> </span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:11.0pt;
font-family:"Comic Sans MS";color:#0B175F'>&nbsp;</span></p>

<p class=MsoNormal><span style='font-size:9.0pt;font-family:"Comic Sans MS";
color:#0B175F'>&nbsp;</span></p>

<p><strong><span style='font-family:Times'>Angel Santiago</span></strong> <br>
<span style='font-family:Times'>Marketing Director / Event Personality</span> <br>
<span style='font-family:Times'>Washington Talent Agency</span> <br>
<span style='font-family:Times'>angel@washingtontalent.com<strong><span
style='font-family:Times'>&nbsp;</span></strong></span> </p>

<p><a href="http://washingtontalent.com/" target="_blank"
title=Washingtontalent.com><span style='font-family:Verdana'>Washingtontalent.com</span></a>
</p>

<p class=MsoNormal>&nbsp;</p>

</div>

</body>

</html>
