<div>
	<p style="margin: 0px; text-align: center; font-size: 21px; font-family: 'Times New Roman'; ">
		<b>Considering Skipping on Video Services?&nbsp;</b></p>
	<p style="margin: 0px; text-align: center; font-size: 16px; font-family: 'Times New Roman'; ">
		&nbsp;</p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman';">
		<br />
		<strong>Dear <%= contract.first_name %>,</strong><br />
		<br />
		Here is a great story from our CEO Robert Sherman about Video Services:</p>
	<p style="margin: 0px; font-family: 'Comic Sans MS'; ">
		&nbsp;</p>
	<p style="margin: 0px; font-family: 'Times New Roman'; ">
		<strong><span style="font-size:14px;"><i>As I help get my oldest daughter Samantha ready to leave for her third year of&nbsp;</i><i>college, I think to myself &quot;where did the time go?&quot; It was just yesterday we were&nbsp;</i><i>at my little girl&#39;s Bat-Mitzvah. I was feeling a bit sentimental and decided to sit the&nbsp;</i><i>whole family down and watch Samantha&#39;s Bat-Mitzvah video. It&#39;s amazing how&nbsp;</i><i>fast kids grow! We have great photos of the day but the video showed her and her&nbsp;</i><i>friends in action, not posed or in a single moment, this really helped make the night come to life.&nbsp;</i><i>Of course, it&#39;s unbelievable what changes your child goes through in the 7&nbsp;</i><i>years between thirteen and twenty. It&#39;s also amazing what changes I went through&nbsp;</i><i>during this time, especially around my waist line (I think it&#39;s diet time)! We all had&nbsp;</i><i>forgotten the cute things that her friends said to her and even the creative song they&nbsp;</i><i>wrote for her and sang in front of everyone. Seeing my Mom, who passed away a&nbsp;</i><i>few years ago, and hearing her speak made the evenings entertainment even more&nbsp;</i><i>special. We all had such a great time and I was reminded of how terrific she was&nbsp;</i><i>and how proud I am of what she has become. I am sure we will enjoy this same&nbsp;</i></span><i><span style="font-size:14px;">family entertainment many times in the future.</span></i></strong><br />
		&nbsp;</p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman'; ">
		Give yourself the chance to enjoy your Simcha the same way Robert could.&nbsp;<br />
		<br />
		<strong style="font-size: 14px;">We want to offer you a Free Package Upgrade on any Video Package you book with us. For example, you book Video Package #1 and get the next package up, free of cost!&nbsp;</strong><br style="font-size: 14px;" />
		<br style="font-size: 14px;" />
		<span style="font-size: 14px;">This will not last long. Some restrictions do apply. Not available on all dates and for all videographers.&nbsp;<br />
		<br />
		Check out our work now and see why this could be the easiest decisojn yet.&nbsp;<a href="http://washingtontalent.com/barbat-mitzvah-video/" target="_blank">http://washingtontalent.com/barbat-mitzvah-video/</a></span></p>
	<p style="margin: 0px; font-family: Arial; color: rgb(9, 52, 193); ">
		<a href="mailto:info@washingtontalent.com">Email Us Now</a></p>
	<p style="margin: 0px; font-size: 15px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		&nbsp;</p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Times; ">
		<b>Angel Santiago</b><span style="font-family: 'Times New Roman'; "> </span><br />
		Marketing Director / Event Personality<span style="font-family: 'Times New Roman'; "> </span><br />
		Washington Talent Agency<span style="font-family: 'Times New Roman'; "> </span><br />
		angel@washingtontalent.com<b>&nbsp;</b></p>
</div>
<div>
	&nbsp;</div>
<center>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
		<tbody>
			<tr>
				<td align="center" style="padding-bottom:0;" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" id="canspamBar" width="600">
						<tbody>
							<tr>
								<td align="left" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;" valign="top">
									Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a><br />
									<a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a><br />
									*|LIST:ADDRESSLINE|*</td>
								<td align="left" valign="top">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
