<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 11">
<meta name=Originator content="Microsoft Word 11">
<link rel=File-List
href="Level%203%20Mitzvah%20-%20Sprockit%20the%20Robot_files/filelist.xml">
<link rel=Edit-Time-Data
href="Level%203%20Mitzvah%20-%20Sprockit%20the%20Robot_files/editdata.mso">
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
<title>Sprockit the Robot</title>
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>Angel Santiago</o:Author>
  <o:LastAuthor>Angel Santiago</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>1</o:TotalTime>
  <o:Created>2012-09-06T15:53:00Z</o:Created>
  <o:LastSaved>2012-09-06T15:53:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>155</o:Words>
  <o:Characters>889</o:Characters>
  <o:Company>Washington Talent</o:Company>
  <o:Lines>7</o:Lines>
  <o:Paragraphs>2</o:Paragraphs>
  <o:CharactersWithSpaces>1042</o:CharactersWithSpaces>
  <o:Version>11.9999</o:Version>
 </o:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
  {mso-style-parent:"";
  margin:0in;
  margin-bottom:.0001pt;
  mso-pagination:widow-orphan;
  font-size:12.0pt;
  font-family:"Times New Roman";
  mso-fareast-font-family:"Times New Roman";}
a:link, span.MsoHyperlink
  {color:blue;
  text-decoration:underline;
  text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
  {color:purple;
  text-decoration:underline;
  text-underline:single;}
p
  {mso-margin-top-alt:auto;
  margin-right:0in;
  mso-margin-bottom-alt:auto;
  margin-left:0in;
  mso-pagination:widow-orphan;
  font-size:12.0pt;
  font-family:"Times New Roman";
  mso-fareast-font-family:"Times New Roman";}
span.SpellE
  {mso-style-name:"";
  mso-spl-e:yes;}
@page Section1
  {size:8.5in 11.0in;
  margin:1.0in 1.25in 1.0in 1.25in;
  mso-header-margin:.5in;
  mso-footer-margin:.5in;
  mso-paper-source:0;}
div.Section1
  {page:Section1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
  {mso-style-name:"Table Normal";
  mso-tstyle-rowband-size:0;
  mso-tstyle-colband-size:0;
  mso-style-noshow:yes;
  mso-style-parent:"";
  mso-padding-alt:0in 5.4pt 0in 5.4pt;
  mso-para-margin:0in;
  mso-para-margin-bottom:.0001pt;
  mso-pagination:widow-orphan;
  font-size:10.0pt;
  font-family:"Times New Roman";
  mso-ansi-language:#0400;
  mso-fareast-language:#0400;
  mso-bidi-language:#0400;}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<div class=Section1>

<p class=MsoNormal><span class=SpellE><b style='mso-bidi-font-weight:normal'><span
style='font-size:16.0pt'>Sprockit</span></b></span><b style='mso-bidi-font-weight:
normal'><span style='font-size:16.0pt'> the Robot<o:p></o:p></span></b></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='color:black'>We know, we know; Airbrush this and X-box that is all you
hear from the kids.<b> </b><span style='mso-bidi-font-weight:bold'>We bet they
haven’t seen <span class=SpellE>Sprockit</span> the Robot yet! <o:p></o:p></span></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><!--[if gte vml 1]><v:shapetype
 id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t"
 path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="_x0000_s1026" type="#_x0000_t75" style='position:absolute;
 margin-left:0;margin-top:0;width:189pt;height:126pt;z-index:-1;
 mso-position-horizontal:left' wrapcoords="-86 0 -86 21471 21600 21471 21600 0 -86 0">
 <v:imagedata src="Level%203%20Mitzvah%20-%20Sprockit%20the%20Robot_files/image001.jpg"
  o:title="Heather_1087"/>
 <w:wrap type="square"/>
</v:shape><![endif]--><![if !vml]>

<%= image_tag "contract_mailer/Mitzvah - Sprockit.jpg", :width => 252, :height => 168, :align => "left", :hspace => "12", :"v:shapes" => "_x0000_s1026" %>

<![endif]><span style='color:black;
mso-bidi-font-weight:bold'>This international event star is the perfect Wow
factor for any event. We can’t tell you the secret to <span class=SpellE>Sprockit</span>
but what we can tell you is that your guests will not stop talking about him.
We offer <span class=SpellE>Sprockit</span> for 1 Hour or even for your whole
event. <span class=SpellE>Sprockit</span> can greet guests as they enter the
room and even stroll your cocktail hour and engage your guests in full-on
conversations. <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='color:black;mso-bidi-font-weight:bold'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'><span
style='color:black;mso-bidi-font-weight:bold'>The expressions on your guests’
faces will be priceless! <o:p></o:p></span></p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'>Since
you are already a client of ours, we can offer you <span class=SpellE><b>Sprockit</b></span><b>
at a 20% discount</b>! </p>

<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto'>This
deal doesn’t last forever so make sure to reply to this email for more info.</p>

<p><span style='color:black'><a href="http://washingtontalent.com/novelties/"
target="_blank"><b><span style='color:#0934C1'>See our list of Novelty options</span></b></a>
</span><span style='font-size:9.0pt;color:black'><o:p></o:p></span></p>

<p class=MsoNormal><b><span style='color:#0B175F'><a
href="mailto:info@washingtontalent.com" target="_blank"><span style='color:
#0934C1'>Email Us Now</span></a></span></b><b><span style='font-size:9.0pt;
color:#0B175F'> <o:p></o:p></span></b></p>

<p><strong>Angel Santiago</strong> <br>
Marketing Director / Event Personality <br>
Washington Talent Agency <br>
angel@washingtontalent.com<strong>&nbsp;</strong> </p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</body>

</html>
