<div>
	<p style="margin: 0px; font-size: 21px; font-family: 'Times New Roman'; text-align: center;">
		<b>Sprockit the Robot</b><br />
		&nbsp;</p>
	<p style="margin: 0px; font-size: 21px; font-family: 'Times New Roman';">
		<strong><span style="font-size:14px;">Dear&nbsp;<%= @contract.first_name %>,</span></strong></p>
	<p style="margin: 0px; font-size: 21px; font-family: 'Times New Roman';">
		&nbsp;</p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		<span style="font-size:14px;">We know, we know; Airbrush this and X-box that is all you hear from the kids.<b> </b>We bet they haven&rsquo;t seen Sprockit the Robot yet!</span><br />
		<br />
		<img align="none" height="300" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/SprockitLogo_1b2945e.png" style="width: 300px; height: 300px;" width="300" /></p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; min-height: 18px; ">
		&nbsp;</p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		This international event star is the perfect Wow factor for any event. We can&rsquo;t tell you the secret to Sprockit but what we can tell you is that your guests will not stop talking about him. We offer Sprockit for 1 Hour or even for your whole event.<br />
		Sprockit can greet guests as they enter the room and even stroll your cocktail hour and engage your guests in full-on conversations.</p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		&nbsp;</p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		The expressions on your guests&rsquo; faces will be priceless!<br />
		&nbsp;</p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		Since you are already a client of ours, we can offer you <b>Sprockit at a 20% discount</b>!<br />
		&nbsp;</p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		This deal doesn&rsquo;t last forever so make sure to reply to this email for more info.<br />
		<br />
		<a href="http://washingtontalent.com/corporate-novelties/sporockit-the-interactive-robot.html/" target="_blank">Learn more about Sprockit!</a><br />
		&nbsp;</p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; color: rgb(9, 52, 193); ">
		<a href="mailto:info@washingtontalent.com"><b>Email Us Now</b></a></p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman'; ">
		<b>Angel Santiago</b><br />
		Marketing Director / Event Personality<br />
		Washington Talent Agency<br />
		angel@washingtontalent.com<b>&nbsp;</b></p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		&nbsp;</p>
</div>
<div>
	&nbsp;</div>
<center>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
		<tbody>
			<tr>
				<td align="center" style="padding-bottom:0;" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" id="canspamBar" width="600">
						<tbody>
							<tr>
								<td align="left" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;" valign="top">
									Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a><br />
									<a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a><br />
									*|LIST:ADDRESSLINE|*</td>
								<td align="left" valign="top">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
