<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 11">
<meta name=Originator content="Microsoft Word 11">
<link rel=File-List
href="Level%203%20Mitzvah%20-%20Rockin%20recording%20booth_files/filelist.xml">
<link rel=Edit-Time-Data
href="Level%203%20Mitzvah%20-%20Rockin%20recording%20booth_files/editdata.mso">
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
<title>Rockin’ Recording Booth</title>
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>Angel Santiago</o:Author>
  <o:LastAuthor>Angel Santiago</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>1</o:TotalTime>
  <o:Created>2012-09-06T15:52:00Z</o:Created>
  <o:LastSaved>2012-09-06T15:52:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>132</o:Words>
  <o:Characters>758</o:Characters>
  <o:Company>Washington Talent</o:Company>
  <o:Lines>6</o:Lines>
  <o:Paragraphs>1</o:Paragraphs>
  <o:CharactersWithSpaces>889</o:CharactersWithSpaces>
  <o:Version>11.9999</o:Version>
 </o:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:"Comic Sans MS";
	panose-1:3 15 7 2 3 3 2 2 2 4;
	mso-font-charset:0;
	mso-generic-font-family:script;
	mso-font-pitch:variable;
	mso-font-signature:647 0 0 0 159 0;}
@font-face
	{font-family:Times;
	panose-1:2 2 6 3 5 4 5 2 3 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:7 0 0 0 147 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;
	text-underline:single;}
p
	{mso-margin-top-alt:auto;
	margin-right:0in;
	mso-margin-bottom-alt:auto;
	margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.Section1
	{page:Section1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";
	mso-ansi-language:#0400;
	mso-fareast-language:#0400;
	mso-bidi-language:#0400;}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<div class=Section1>

<p class=MsoNormal><span class=SpellE><b style='mso-bidi-font-weight:normal'><span
style='font-size:16.0pt'>Rockin</span></b></span><b style='mso-bidi-font-weight:
normal'><span style='font-size:16.0pt'>’ Recording Booth<o:p></o:p></span></b></p>

<p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span
style='font-size:16.0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal><!--[if gte vml 1]><v:shapetype id="_x0000_t75" coordsize="21600,21600"
 o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
 stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="_x0000_s1026" type="#_x0000_t75" style='position:absolute;
 margin-left:0;margin-top:3.4pt;width:297pt;height:222.3pt;z-index:-1;
 mso-position-horizontal:left' wrapcoords="-65 0 -65 21514 21600 21514 21600 0 -65 0">
 <v:imagedata src="Level%203%20Mitzvah%20-%20Rockin%20recording%20booth_files/image001.jpg"
  o:title="Picture 004"/>
 <w:wrap type="square"/>
</v:shape><![endif]--><![if !vml]><img width=396 height=296
src="Level%203%20Mitzvah%20-%20Rockin%20recording%20booth_files/image002.jpg"
align=left hspace=12 v:shapes="_x0000_s1026"><![endif]>Any “Wannabe Rock Stars”
in your group? Let them prove themselves in our <span class=SpellE><b
style='mso-bidi-font-weight:normal'><u>Rockin</u></b></span><b
style='mso-bidi-font-weight:normal'><u>’ Recording Booth</u></b>. They have
hundreds of songs to choose from and up to 6 people can sing along at the same
time (every rock star needs backup singers, right?) AND everyone gets a CD copy
of their performance. Your guests that don’t want to sing will have a blast
watching their friends through the glass. </p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>Since you are already a client of ours, we can offer you a
great price of $1450, normally priced at $1750. </p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<p class=MsoNormal>This deal doesn’t last forever so make sure to reply to this
email for more info.</p>

<p><span style='font-family:"Comic Sans MS";mso-bidi-font-family:Arial;
color:black'><a href="http://washingtontalent.com/novelties/" target="_blank"><b><span
style='font-family:Arial;color:#0934C1'>See our list of Novelty options</span></b></a>
</span><span style='font-size:9.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:
Arial;color:black'><o:p></o:p></span></p>

<p class=MsoNormal><b><span style='font-family:"Comic Sans MS";mso-bidi-font-family:
Arial;color:#0B175F'><a href="mailto:info@washingtontalent.com" target="_blank"><span
style='font-family:Arial;color:#0934C1'>Email Us Now</span></a></span></b><b><span
style='font-size:9.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:Arial;
color:#0B175F'> <o:p></o:p></span></b></p>

<p><strong><span style='font-family:Times'>Angel Santiago</span></strong> <br>
<span style='font-family:Times'>Marketing Director / Event Personality</span> <br>
<span style='font-family:Times'>Washington Talent Agency</span> <br>
<span style='font-family:Times'>angel@washingtontalent.com<strong><span
style='font-family:Times'>&nbsp;</span></strong></span> </p>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</body>

</html>
