Dear WTA Valued Vendor,<br>

<p>******************* Important Notice For Current Users ******************* </p>

<p>If you have already been using the system over the past week we have been re-entering all of the jobs and resetting the confirmation button to UNCONFIRMED. This is to make sure that all of your events are in the system. We apologize that you had to keep reconfirming, however it was a necessary step.</p>

<p>Also, Just a quick update on how this works. If for any reason, ANY information about an event is changed. The confirmation button is RESET and you will receive a new email the next morning. You then must reconfirm that event.  Please review that job information.</p>

<p>The remainder of this email is for users that have not logged in the system yet. </p>

<p>Thank you</p>

<p>******************* End Notice For Current Users ******************* </p>



<p>We have created a new online system to confirm your job information, it is called ConfirmMyGig.com or "CMG" for short.</p>

<p>CMG is going to make all of our lives easier as well as giving you real-time updates of your event! 10 days before any WTA event you will now get an email asking you to “CONFIRM YOUR GIG" by going to www.ConfirmMyGig.com. Once you click the RED button to “CONFIRM YOUR GIG”, an email will be instantly sent to you with all the event info, financial info, money pick-up if needed, map to venue and more. All future events will need to be confirmed with this system and your login.  You will not only see information about one event, but be able to see information about all of your current events in list view or calendar view.</p>

<p>To use CMG, click here: http://www.confirmmygig.com/users/verification/new</p>

<p>From here, enter your E-Mail address and a password will be generated and E-Mailed to you. This password can be changed on your first login. Since job information can change between the time a contract is sent and the time it is performed you will only be able to confirm 10 days before the event date. Occasionally clients make change to their events last minute… if that happens after you’ve already confirmed, a new email will automatically be generated for you to get the NEW info. Don't be surprised if you get an E-Mail asking you to confirm a job that you have confirmed already, this just means that a change has been made.</p>

<p>If you have no upcoming event, you will have access to CMG, but there will be no events listed.</p>

<p>For the next 2-3 weeks we will be confirming with this new system as well as the old way with manual E-Mails to insure that nothing is being missed. This "double confirmation" system will mean that you will have to confirm each job in 2 different ways but this will be very temporary. In the upper left hand corner of CMG you will see a Feedback Button. Please feel free to use it if you have any questions or suggestions. Thanks again for being a part of the WTA family and enjoy our NEW event confirmation system.</p>

<p>Also, Just a quick update on how this works. If for any reason, ANY information about an event is changed. The confirmation button is RESET and you will receive a new email the next morning. You then must reconfirm that event.  Please review that job information.</p>


Strickland Bonner<br>
President<br>
Washington Talent Agency<br>
301-762-1800 ext. 131<br>
www.WashingtonTalent.com<br>