Dear WTA Valued Vendor,<br>

<p>We have created a new online system to confirm your job information, it is called ConfirmMyGig.com or "CMG" for short.</p>

<p>Please use the link below to setup your account an start using the new system.  Once you click the link you will need to enter your email address. You will then receive an email asking you to update your account. please follow the link and enter a password of your choosing.</p>

<p>You can then login to the new CMG and confirm your events.</p>

<h2> Get Started Here</h2>

<p>To use CMG, click here: http://www.confirmmygig.com/users/verification/new</p>

Thank you,

Strickland Bonner<br>
President<br>
Washington Talent Agency<br>
301-762-1800 ext. 131<br>
www.WashingtonTalent.com<br>