 <h1>Hello</h1>
<p>One or more of the acts that you manage currently has UN-CONFIRMED Events.</p>
<p>Please login to <a href="http://www.confirmmygig.com">http://www.confirmmygig.com</a> and review.</p>

Thank you<br>
Washington Talent