<div>
    <p style="margin: 0px; text-align: center; font-size: 19px; font-family: 'Comic Sans MS'; ">
        <b>Add something different to your Modern Wedding</b></p>
    <br />
    <br />
    <p style="margin: 0px; font-family: Arial; text-align: left;">
        <strong style="font-family: 'Times New Roman'; font-size: 21px;"><span style="font-size: 14px;">Dear <%= contract.first_name %>,</span></strong><br />
        <br />
        <span style="font-size:14px;"><b><span style="font-family: arial, helvetica, sans-serif;">Washington Talent is much more than DJs and Bands!</span></b><br />
        <br />
        <span style="font-family: arial, helvetica, sans-serif;">The word of the day for the modern Wedding is&nbsp;<b style="font-family: 'Comic Sans MS';">DIFFERENT</b>. Brides today don&#39;t want the same wedding their parents or friends had, they want fun and memorable, but that doesn&#39;t have to mean crazy. So how do you find the balance between modern and traditional? Many brides are using something so simple, yet so memorable that you can&#39;t believe you didn&#39;t think of it yourself...<b style="font-family: 'Comic Sans MS';">a photo booth.</b></span></span></p>
    <br />
    <br />
    <p style="margin: 0px; font-family: 'Comic Sans MS';">
        <span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;">Our upgraded version of this classic booth , The Photo Booth XL, can hold up to 8 people at a time and includes a touch screen interface, computer voice integration, you and your fiancee&#39;s names and wedding date printed onto each strip and a proof book of all the photos after the reception. An attendant stays with the booth the entire night to ensure there are no problems.&nbsp;Imagine your bridal party hopping into the booth, taking great spontaneous pictures of themselves goofing for the camera, and bringing the strip back to the table to show around after dinner. Imagine your parents doing the same, priceless!&nbsp;<br />
        <br />
        The fun and the memories are the perfect blend of modern technology with classic kitschy charm.</span></span></p>
    <p style="margin: 0px; font-family: 'Comic Sans MS';">
        &nbsp;</p>
    <p style="margin: 0px; font-family: 'Comic Sans MS';">
        <span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;">Regular pricing for the Photo Booth is $1750 but since you have booked through us, I want to offer you a $250 discount on that price. It is subject to availability so contact your agent directly for more details.</span></span></p>
    <br />
    <span style="font-family: 'Comic Sans MS'; font-size: 18px;">Learn more about the Photo Booths we offer&nbsp;</span><span style="font-family: 'Comic Sans MS'; color: rgb(12, 24, 95);"><a href="http://washingtontalent.com/ournovelties/photo-booths.html/"><span style="font-size: 18px; font-family: Arial; color: rgb(9, 52, 193);">click here</span></a></span>
    <p style="margin: 0px; font-size: 11px; font-family: Arial; color: rgb(189, 57, 24); text-align: left;">
        &nbsp;</p>
    <p style="margin: 0px 0px 16px; font-size: 18px; text-align: left;">
        <img align="none" height="393" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/PhotoBoothXL_on_Wht.jpg" style="width: 500px; height: 393px;" width="500" /><img align="none" height="393" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/Click_Pix_Booth3eb881.JPG" style="width: 356px; height: 393px;" width="356" /></p>
    <p style="margin: 0px; font-size: 18px; text-align: left;">
        <br />
        <a href="http://washingtontalent.com/novelties/" style="text-align: right; font-family: Arial; font-size: 16px;"><b>See our list of Novelty options</b></a></p>
    <p style="margin: 0px; font-size: 11px; font-family: Arial; color: rgb(189, 57, 24); ">
        &nbsp;</p>
    <p style="margin: 0px; font-size: 12px; font-family: 'Comic Sans MS'; ">
        &nbsp;</p>
    <p style="margin: 0px; font-size: 16px; font-family: Arial; color: rgb(9, 52, 193); ">
        <a href="mailto:info@washingtontalent.com"><b>Email Us Now</b></a></p>
    <p style="margin: 0px 0px 16px; font-size: 16px; font-family: Times; ">
        <b>Angel Santiago</b><span style="font-family: 'Times New Roman'; "> </span><br />
        Marketing Director / Event Personality<span style="font-family: 'Times New Roman'; "> </span><br />
        Washington Talent Agency<span style="font-family: 'Times New Roman'; "> </span><br />
        angel@washingtontalent.com<b>&nbsp;</b></p>
    <p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
        &nbsp;</p>
</div>
<div>
    &nbsp;</div>
<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
        <tbody>
            <tr>
                <td align="center" style="padding-bottom:0;" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" id="canspamBar" width="600">
                        <tbody>
                            <tr>
                                <td align="left" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;" valign="top">
                                    Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a><br />
                                    <a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a><br />
                                    *|LIST:ADDRESSLINE|*</td>
                                <td align="left" valign="top">
                                    &nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
