<div>
	<p style="margin: 0px; text-align: center; font-size: 24px; font-family: Arial; ">
		<b>Music sets the tone for more than the reception</b><br />
		&nbsp;</p>
	<p style="margin: 0px; font-size: 24px; font-family: Arial;">
		<strong style="color: rgb(189, 57, 24); font-size: 11px;"><span style="color: rgb(0, 0, 0);"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;">Dear <%= contract.first_name %>,</span></span></span></strong></p>
	<p style="margin: 0px 0px 16px; font-size: 12px; font-family: Arial; color: rgb(12, 24, 95); ">
		&nbsp;</p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman';">
		Music sets the tone for almost any event. This is also true for any ceremony. The mood is set by the atmosphere in place. Nothing helps set the mood better than music. String quartets, guitarists and solo harpists, have been a large part of the Washington Talent backbone for over 43 years.&nbsp;We can&nbsp;offer your wedding classical and/or contemporary ceremony and cocktail music through classical strings, jazz ensembles or a solo pianist for wedding ceremonies and/or receptions.<br />
		<br />
		<img align="none" height="165" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/classical2d3a26.jpg" style="width: 300px; height: 165px;" width="300" /></p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman';">
		Watch our promotional videos for this service&nbsp;<a href="http://washingtontalent.com/davinci-strings/" target="_blank">http://washingtontalent.com/davinci-strings/</a></p>
	<p style="margin: 0px; font-size: 16px; font-family: Arial; color: rgb(9, 52, 193); ">
		<a href="mailto:info@washingtontalent.com"><b>Email Us Now</b></a><br />
		&nbsp;</p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman'; ">
		<span style="font-family: Times; "><b>Angel Santiago</b></span><br />
		Marketing Director / Event Personality<br />
		Washington Talent Agency<br />
		<span style="color: rgb(4, 51, 255); "><a href="mailto:angel@washingtontalent.com">angel@washingtontalent.com</a></span></p>
</div>
<div>
	&nbsp;</div>
<center>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
		<tbody>
			<tr>
				<td align="center" style="padding-bottom:0;" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" id="canspamBar" width="600">
						<tbody>
							<tr>
								<td align="left" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;" valign="top">
									Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a><br />
									<a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a><br />
									*|LIST:ADDRESSLINE|*</td>
								<td align="left" valign="top">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
