<div>
	<div style="text-align: center;">
		<span style="font-size:24px;"><font color="#000000" face="arial, helvetica, sans-serif"><b>Photography is much more than the final product</b></font></span></div>
	<br />
	<strong style="font-family: Arial; color: rgb(189, 57, 24); font-size: 11px;"><span style="color: rgb(0, 0, 0);"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;">Dear <%= contract.first_name %>,</span></span></span></strong><br />
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
		&nbsp;</p>
	<p style="margin: 0px; font-size: 19px; font-family: Arial;">
		<br />
		<span style="font-size:14px;">Here is a quick story told by our President, Strickland Bonner, about his experience with Photography at his own Wedding years back.&nbsp;</span><br />
		&nbsp;</p>
	<p style="margin: 0px; font-size: 11px; font-family: Arial; color: rgb(189, 57, 24);">
		&nbsp;</p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman';">
		<em><span style="color:#000000;"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;">For my wedding 11 years ago I had one of the top photographers in the business, everybody wanted this guy and I was so excited to be able to get him for my wedding. There was only one problem- His work was amazing but truthfully, he was a jerk. He was very arrogant and I figured &quot;well, that&#39;s just the downside of dealing with an artist, as long as my pictures look great I can deal with it&quot;.&nbsp;Seemed like a good idea at the time but looking back it was a huge mistake. When I look at my wedding album now I love the framing, lighting, posing and the look of my images but I&#39;m not happy in the pictures and all I see is my strained smile from being so annoyed at being ordered around by my jerk of a photographer all day.&nbsp;Seeing samples of your photographer&#39;s work to get an idea of what he will do at your wedding is critical but don&#39;t forget that you will be spending the entire day with this person, being poked and prodded and posed and pushed in every direction to get just the right shots so you better make sure you can get along with them!&nbsp;</span></span></span></em></p>
	<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman';">
		<em><span style="color:#000000;"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;">Getting the best pictures is not just about a photographer&#39;s skill in posing, framing and lighting it is also about bringing out the best in you which is best done when his personality matches your own. After 8 hours with my photographer I was ready to strangle him. The best albums show the glow and the excitement of your wedding day and how happy you are to spend it with close friends whom you love, but with the exception of your fianc&eacute;e the only person who will be by your side the entire day will be your photographer so you better make sure you can get along with him/her.</span></span></span></em><br />
		<br />
		<b style="text-align: center;"><span style="color:#000000;">We want to offer you a special on photography services as a thank you since you are already a client of ours:</span></b><br />
		<span style="color:#ff0000;"><strong style="font-size: 14px;">Get a Free Package Upgrade on a Photography Package you book with us. For example, you can book Package #1 for most photographers and get the next package up, free of cost!&nbsp;</strong></span></p>
	<p style="margin: 0px 0px 16px;">
		<br />
		<span style="font-size: 14px;">This will not last long. Some restrictions do apply. Not available on Photographers Jack Hartzman or Monica Vidal.<br />
		<br />
		Check out the work of the Photographers available for this deal&nbsp;<a href="http://washingtontalent.com/bat-and-bat-mitzvah-photographers/" target="_blank">http://washingtontalent.com/bat-and-bat-mitzvah-photographers/</a><br />
		<br />
		Act fast and contact us today!</span></p>
	<br />
	<br />
	<p style="margin: 0px; font-family: Arial; color: rgb(9, 52, 193);">
		<span style="font-size: 14px;"><a href="mailto:info@washingtontalent.com">Email Us Now</a></span><br />
		&nbsp;</p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Times;">
		<span style="font-size: 14px;"><b>Angel Santiago</b><span style="font-family: 'Times New Roman';">&nbsp;</span><br />
		Marketing Director / Event Personality<span style="font-family: 'Times New Roman';">&nbsp;</span><br />
		Washington Talent Agency<span style="font-family: 'Times New Roman';">&nbsp;</span><br />
		angel@washingtontalent.com<b>&nbsp;</b></span></p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Verdana; color: rgb(4, 51, 255);">
		<span style="font-size: 14px;"><a href="http://washingtontalent.com/">Washingtontalent.com</a></span></p>
</div>
<center>
	<br />
	<table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
		<tbody>
			<tr>
				<td align="center" style="padding-bottom:0;" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" id="canspamBar" width="600">
						<tbody>
							<tr>
								<td align="left" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;" valign="top">
									Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a><br />
									<a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a><br />
									*|LIST:ADDRESSLINE|*</td>
								<td align="left" valign="top">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
