<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 11">
<meta name=Originator content="Microsoft Word 11">
<link rel=File-List
href="Level%203%20Wedding%20-%20Photography_files/filelist.xml">
<link rel=Edit-Time-Data
href="Level%203%20Wedding%20-%20Photography_files/editdata.mso">
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
<title>Photography is more than the final product</title>
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>Angel Santiago</o:Author>
  <o:LastAuthor>Angel Santiago</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>3</o:TotalTime>
  <o:Created>2012-09-06T15:15:00Z</o:Created>
  <o:LastSaved>2012-09-06T15:15:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>401</o:Words>
  <o:Characters>2290</o:Characters>
  <o:Company>Washington Talent</o:Company>
  <o:Lines>19</o:Lines>
  <o:Paragraphs>5</o:Paragraphs>
  <o:CharactersWithSpaces>2686</o:CharactersWithSpaces>
  <o:Version>11.9999</o:Version>
 </o:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Verdana;
	panose-1:2 11 6 4 3 5 4 4 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-1593833729 1073750107 16 0 415 0;}
@font-face
	{font-family:"Comic Sans MS";
	panose-1:3 15 7 2 3 3 2 2 2 4;
	mso-font-charset:0;
	mso-generic-font-family:script;
	mso-font-pitch:variable;
	mso-font-signature:647 0 0 0 159 0;}
@font-face
	{font-family:Times;
	panose-1:2 2 6 3 5 4 5 2 3 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:7 0 0 0 147 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;
	text-underline:single;}
p
	{mso-margin-top-alt:auto;
	margin-right:0in;
	mso-margin-bottom-alt:auto;
	margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.Section1
	{page:Section1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";
	mso-ansi-language:#0400;
	mso-fareast-language:#0400;
	mso-bidi-language:#0400;}
</style>
<![endif]-->
</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<div class=Section1>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=600
 style='width:6.25in;mso-cellspacing:0in;mso-padding-alt:0in 0in 0in 0in'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td width=600 style='width:6.25in;border:none;border-top:solid #333333 1.0pt;
  mso-border-top-alt:solid #333333 .25pt;background:#EEEEEE;padding:0in 0in 0in 0in'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:14.0pt;font-family:Arial;color:black'>Photography is more
  than the final product...</span></b><span style='font-size:9.0pt;font-family:
  Arial;color:#0B175F'> <o:p></o:p></span></p>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:9.0pt;font-family:Arial;color:#0B175F'>A letter from the
  Washington Talent President – Strickland Bonner<o:p></o:p></span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><span style='display:none;mso-hide:all'><o:p>&nbsp;</o:p></span></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width=600
 style='width:6.25in;mso-cellspacing:0in;background:white;mso-padding-alt:15.0pt 15.0pt 15.0pt 15.0pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td valign=top style='padding:15.0pt 15.0pt 15.0pt 15.0pt'>
  <p><span style='color:black'>For my wedding 11 years ago I had one of the top
  photographers in the business, everybody wanted this guy and I was so excited
  to be able to get him for my wedding. There was only one problem- His work
  was amazing but he was a jerk. Very arrogant and up on himself and I figured
  &quot;well, that's jut the downside of dealing with an artist, as long as my
  pictures look great I can deal with it&quot;. </span><span style='font-size:
  9.0pt;color:black'><o:p></o:p></span></p>
  <p><span style='color:black'>Seemed like a good idea at the time but looking
  back it was a huge mistake. When I look at my wedding album now I love the
  framing, lighting, posing and the look of my images but I'm not happy in the
  pictures and all I see is my strained smile from being so annoyed at being
  ordered around by my jerk of a photographer all day. </span><span
  style='font-size:9.0pt;color:black'><o:p></o:p></span></p>
  <p class=MsoNormal><!--[if gte vml 1]><v:shapetype id="_x0000_t75"
   coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
   filled="f" stroked="f">
   <v:stroke joinstyle="miter"/>
   <v:formulas>
    <v:f eqn="if lineDrawn pixelLineWidth 0"/>
    <v:f eqn="sum @0 1 0"/>
    <v:f eqn="sum 0 0 @1"/>
    <v:f eqn="prod @2 1 2"/>
    <v:f eqn="prod @3 21600 pixelWidth"/>
    <v:f eqn="prod @3 21600 pixelHeight"/>
    <v:f eqn="sum @0 0 1"/>
    <v:f eqn="prod @6 1 2"/>
    <v:f eqn="prod @7 21600 pixelWidth"/>
    <v:f eqn="sum @8 21600 0"/>
    <v:f eqn="prod @7 21600 pixelHeight"/>
    <v:f eqn="sum @10 21600 0"/>
   </v:formulas>
   <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
   <o:lock v:ext="edit" aspectratio="t"/>
  </v:shapetype><v:shape id="_x0000_i1025" type="#_x0000_t75" alt="Interesting Image"
   style='width:420pt;height:279.75pt'>
   <v:imagedata src="Level%203%20Wedding%20-%20Photography_files/image001.jpg"
    o:href="https://washingtontalent.infusionsoft.com/Download?Id=606"/>
  </v:shape><![endif]--><![if !vml]>

  <%= image_tag "contract_mailer/Wedding - Photography 1.jpg", :width => "560", :height => "373", :"v-shapes" => "_x0000_i1025" %>

  <![endif]></p>
  <p><span style='color:black'>Seeing samples of your photographer's work to
  get an idea of what he will do at your wedding is critical but don't forget
  that you will be spending the entire day with this person, being poked and
  prodded and posed and pushed in every direction to get just the right shots
  so you better make sure you can get along with them!&nbsp; </span><span
  style='font-size:9.0pt;color:black'><o:p></o:p></span></p>
  <p class=MsoNormal><span style='font-size:9.0pt;font-family:"Comic Sans MS";
  mso-bidi-font-family:Arial;color:#0B175F'><o:p>&nbsp;</o:p></span></p>
  <p class=MsoNormal align=center style='text-align:center'><!--[if gte vml 1]><v:shape
   id="_x0000_i1026" type="#_x0000_t75" alt="Interesting Image" style='width:420pt;
   height:279pt'>
   <v:imagedata src="Level%203%20Wedding%20-%20Photography_files/image003.jpg"
    o:href="https://washingtontalent.infusionsoft.com/Download?Id=640"/>
  </v:shape><![endif]--><![if !vml]>

  <%= image_tag "contract_mailer/Wedding - Photography 2.jpg", :width => "560", :height => "372", :"v-shapes" => "_x0000_i1026" %>

  <![endif]></p>
  <p class=MsoNormal><span style='font-family:"Comic Sans MS";mso-bidi-font-family:
  Arial;color:black'><br>
  </span><span style='color:black'>Getting the best pictures is not just about
  a photographer's skill in posing, framing and lighting it is also about
  bringing out the best in you which is best done when his personality matches
  your own. After 8 hours with my photographer I was ready to strangle him. The
  best albums show the glow and the excitement of your wedding day and how
  happy you are to spend it with close friends whom you love, but with the
  exception of your fiancée the only person who will be by your side the entire
  day will be your photographer so you better make sure you can get along with
  him/her.</span><span style='font-size:9.0pt;color:black'> <o:p></o:p></span></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  style='font-size:14.0pt;font-family:Arial;color:black'><br style='mso-special-character:
  line-break'>
  <![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
  <![endif]></span></b><b><span style='font-size:15.0pt;font-family:Arial;
  color:black'><o:p></o:p></span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b
  style='mso-bidi-font-weight:normal'><span style='color:black'>We want to
  offer you a special on photography services as a thank you since you have
  contracted with us already:</span></b><b style='mso-bidi-font-weight:normal'><span
  style='font-size:8.5pt;color:#BD3919'><o:p></o:p></span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b
  style='mso-bidi-font-weight:normal'><span style='font-size:8.5pt;color:#BD3919'><o:p>&nbsp;</o:p></span></b></p>
  <p><span style='font-size:10.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:
  Arial;color:#0B175F'><a
  href="https://washingtontalent.infusionsoft.com/app/linkClick/2892/508b66afbdaac8ff/0/5a1db244d150bba0"
  target="_blank"><span style='font-family:Arial;color:black;text-decoration:
  none;text-underline:none'><!--[if gte vml 1]><v:shape id="_x0000_i1027"
   type="#_x0000_t75" alt="" style='width:418.5pt;height:273pt'>
   <v:imagedata src="Level%203%20Wedding%20-%20Photography_files/image005.jpg"
    o:href="https://washingtontalent.infusionsoft.com/Download?Id=638"/>
  </v:shape><![endif]--><![if !vml]>

  <%= image_tag "contract_mailer/Wedding - Photography 3.jpg", :border => 0, :width => "558", :height => "364", :"v-shapes" => "_x0000_i1027" %>

  <![endif]></span></a></span><span
  style='font-size:9.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:Arial;
  color:#0B175F'><o:p></o:p></span></p>
  <p><span style='font-size:9.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:
  Arial;color:#0B175F'><o:p>&nbsp;</o:p></span></p>
  <p align=center style='margin:0in;margin-bottom:.0001pt;text-align:center'><span
  style='font-family:"Comic Sans MS";mso-bidi-font-family:Arial;color:black'>Contact
  us for more details!<o:p></o:p></span></p>
  <p align=center style='margin:0in;margin-bottom:.0001pt;text-align:center'><span
  style='font-family:"Comic Sans MS";mso-bidi-font-family:Arial;color:black'><o:p>&nbsp;</o:p></span></p>
  <p align=center style='margin:0in;margin-bottom:.0001pt;text-align:center'><span
  style='font-family:"Comic Sans MS";mso-bidi-font-family:Arial;color:black'>click
  to see our photographers</span><span style='font-size:11.0pt;font-family:
  "Comic Sans MS";mso-bidi-font-family:Arial;color:#0B175F'><o:p></o:p></span></p>
  <p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:9.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:Arial;
  color:#0B175F'><a href="http://washingtontalent.com/wedding-photographers/">http://washingtontalent.com/wedding-photographers/</a><o:p></o:p></span></p>
  <p><strong><span style='font-family:Arial'><o:p>&nbsp;</o:p></span></strong></p>
  <p><strong><span style='font-family:Times'>Angel Santiago</span></strong> <br>
  <span style='font-family:Times'>Marketing Director / Event Personality</span>
  <br>
  <span style='font-family:Times'>Washington Talent Agency</span> <br>
  <span style='font-family:Times'>angel@washingtontalent.com<strong><span
  style='font-family:Times'>&nbsp;</span></strong></span> </p>
  <p><a href="http://washingtontalent.com/" target="_blank"
  title=Washingtontalent.com><span style='font-family:Verdana'>Washingtontalent.com</span></a>
  </p>
  <p><o:p>&nbsp;</o:p></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

</div>

</body>

</html>
