<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 11">
<meta name=Originator content="Microsoft Word 11">
<link rel=File-List href="Level%203%20Wedding%20-%20Video_files/filelist.xml">
<title>Skipping on Video Services</title>
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>Angel Santiago</o:Author>
  <o:LastAuthor>Angel Santiago</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>2</o:TotalTime>
  <o:Created>2012-09-06T15:17:00Z</o:Created>
  <o:LastSaved>2012-09-06T15:17:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>329</o:Words>
  <o:Characters>1880</o:Characters>
  <o:Company>Washington Talent</o:Company>
  <o:Lines>15</o:Lines>
  <o:Paragraphs>4</o:Paragraphs>
  <o:CharactersWithSpaces>2205</o:CharactersWithSpaces>
  <o:Version>11.9999</o:Version>
 </o:DocumentProperties>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
  </w:Compatibility>
  <w:BrowserLevel>MicrosoftInternetExplorer4</w:BrowserLevel>
 </w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" LatentStyleCount="156">
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Verdana;
	panose-1:2 11 6 4 3 5 4 4 2 4;
	mso-font-charset:0;
	mso-generic-font-family:swiss;
	mso-font-pitch:variable;
	mso-font-signature:-1593833729 1073750107 16 0 415 0;}
@font-face
	{font-family:"Comic Sans MS";
	panose-1:3 15 7 2 3 3 2 2 2 4;
	mso-font-charset:0;
	mso-generic-font-family:script;
	mso-font-pitch:variable;
	mso-font-signature:647 0 0 0 159 0;}
@font-face
	{font-family:Times;
	panose-1:2 2 6 3 5 4 5 2 3 4;
	mso-font-charset:0;
	mso-generic-font-family:roman;
	mso-font-pitch:variable;
	mso-font-signature:7 0 0 0 147 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;
	text-underline:single;}
p
	{mso-margin-top-alt:auto;
	margin-right:0in;
	mso-margin-bottom-alt:auto;
	margin-left:0in;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.Section1
	{page:Section1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";
	mso-ansi-language:#0400;
	mso-fareast-language:#0400;
	mso-bidi-language:#0400;}
</style>
<![endif]-->
</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<div class=Section1>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:18.0pt;color:black'>Skipping on Video Services? Consider
this...<o:p></o:p></span></b></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='color:black;mso-bidi-font-weight:bold'>A letter from our President
Strickland Bonner <o:p></o:p></span></p>

<p class=MsoNormal><span style='color:#BD3919'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span style='color:#0B175F'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span style='color:black'>Just recently I was sent an email
at 2:30 on a Sunday morning after an amazing Wedding where my band Black Tie
and I performed. There were a few lines that stuck out. </span><span
style='color:#0B175F'><o:p></o:p></span></p>

<p class=MsoNormal><span style='color:black'><o:p>&nbsp;</o:p></span></p>

<p><b><span style='color:black'>&quot;Our biggest regret is that we didn't book
video.</span></b><span style='color:black'> <b>The night was a blur and I feel
like I missed a lot.</b> <b>I wish I could relive it all!&quot;</b> <o:p></o:p></span></p>

<p><span style='color:black'>That got me thinking about my own wedding video so
I decided to break out the popcorn, gather the kids and make a family movie
night of it. After we got past the embarrassment of our big hair it was amazing
how much we had forgotten about that day; My groomsmen sitting in with the
band, seeing friends that we have not talked to in years, the bridesmaids
serenading me with &quot;Respect<span class=GramE>&quot; .</span> I am glad I
chose to not have Uncle Dave shoot the <span class=GramE>video,</span> he would
have definitely missed that! Watching nieces and nephews now grown up and in
college as kids running around, and all those great 90's songs (my daughters
are now perfecting their 90's dance moves...Hopefully only to be unleashed at
home). It was wonderful to see the great toast that my best man gave and my
grandmother who has since passed away doing the blessing. Being able to hear
her speak is priceless. <o:p></o:p></span></p>

<p><span style='color:black'>I have amazing images and our photo album is
beautiful, but the video really captures every exciting moment of our special
day in a way that brings it all to life. All in all we had a great family night
and I cherish that I can do it again when the time is right! You can't have
this kind of experience years from now if you don't capture your wedding. <o:p></o:p></span></p>

<p align=center style='text-align:center'><b><span style='color:black'>Don't
make the mistake that my recent wedding couple did!</span></b><span
style='color:black'><o:p></o:p></span></p>

<p><span style='color:black'>To make your decision easier<b> </b>I want to
offer you a special on video services as a thank you since you have</span><span
style='color:#0B175F'> </span><span style='color:black'>with us already.
Reserve your exclusive Video package deal today or talk to your agent about
other video specials that we can offer.&nbsp;</span><span style='color:#0B175F'>
</span><span style='color:black'><o:p></o:p></span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:11.0pt;
font-family:"Comic Sans MS";mso-bidi-font-family:Arial;color:#0B175F'><o:p>&nbsp;</o:p></span></p>

<p style='margin:0in;margin-bottom:.0001pt'><span style='font-size:10.0pt;
font-family:"Comic Sans MS";mso-bidi-font-family:Arial;color:#0B175F'><a
href="mailto:info@washingtontalent.com" target="_blank"><span style='font-family:
Arial;color:#0934C1'>Email Us Now</span></a> </span><span style='font-size:
11.0pt;font-family:"Comic Sans MS";mso-bidi-font-family:Arial;color:#0B175F'><o:p></o:p></span></p>

<p class=MsoNormal><span style='font-size:9.0pt;font-family:"Comic Sans MS";
mso-bidi-font-family:Arial;color:#0B175F'><o:p>&nbsp;</o:p></span></p>

<p><strong><span style='font-family:Times'>Angel Santiago</span></strong> <br>
<span style='font-family:Times'>Marketing Director / Event Personality</span> <br>
<span style='font-family:Times'>Washington Talent Agency</span> <br>
<span style='font-family:Times'>angel@washingtontalent.com<strong><span
style='font-family:Times'>&nbsp;</span></strong></span> </p>

<p><a href="http://washingtontalent.com/" target="_blank"
title=Washingtontalent.com><span style='font-family:Verdana'>Washingtontalent.com</span></a>
</p>

</div>

</body>

</html>
