<p style="margin: 0px; text-align: center; font-size: 24px; font-family: 'Times New Roman'; ">
	<b>Skipping on Video Services? Consider this...</b></p>
<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman';">
	&nbsp;</p>
<div>
	<div style="text-align: center;">
		&nbsp;</div>
	<br />
	<strong style="font-family: Arial; color: rgb(189, 57, 24); font-size: 11px;"><span style="color: rgb(0, 0, 0);"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;">Dear <%= @contract.first_name %>,</span></span></span></strong><br />
	<p style="margin: 0px;">
		&nbsp;</p>
</div>
<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
	We wanted to share a story told by band leader of Black Tie, Strickland Bonner, about a Wedding he recently played for. &nbsp;<br />
	<br />
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;"><em>I was sent an email at 2:30 on a Sunday morning after an amazing Wedding where my band Black Tie and I performed. There were a few lines that stuck out.</em></span></span></p>
<p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
	&nbsp;</p>
<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman'; ">
	<span style="font-size:14px;"><span style="font-family: arial, helvetica, sans-serif;"><em><b>&quot;Our biggest regret is that we didn&#39;t book video.</b> <b>The night was a blur and I feel like I missed a lot.</b> <b>I wish I could relive it all!&quot;</b></em></span></span></p>
<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman'; ">
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;"><em>That got me thinking about my own wedding video so I decided to break out the popcorn, gather the kids and make a family movie night of it. After we got past the embarrassment of our big hair it was amazing how much we had forgotten about that day; My groomsmen sitting in with the band, seeing friends that we have not talked to in years, the bridesmaids serenading me with &quot;Respect&quot; . I am glad I chose to not have Uncle Dave shoot the video, he would have definitely missed that! Watching nieces and nephews now grown up and in college as kids running around, and all those great 90&#39;s songs (my daughters are now perfecting their 90&#39;s dance moves...Hopefully only to be unleashed at home). It was wonderful to see the great toast that my best man gave and my grandmother who has since passed away doing the blessing. Being able to hear her speak is priceless.</em></span></span></p>
<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman'; ">
	<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;"><em>I have our photo album, but the video really captures every exciting moment of our special day in a way that brings it all to life. All in all we had a great family night and I cherish that I can do it again when the time is right! You can&#39;t have this kind of experience years from now if you don&#39;t capture your wedding.</em></span></span><br />
	&nbsp;</p>
<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman';">
	<strong>Don&#39;t make the mistake this recent wedding couple did!&nbsp;To make your decision easier&nbsp;we&nbsp;are offering you a special on video services as a thank you for being a client of ours. &nbsp;</strong></p>
<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman'; ">
	&nbsp;</p>
<p style="margin: 0px 0px 16px;">
	<span style="color:#ff0000;"><strong style="font-size: 14px;">Get a Free Package Upgrade on any Video Package you book with us. For example, you book Video Package #1 and get the next package up, free of cost!&nbsp;</strong></span><br style="font-size: 14px;" />
	<br style="font-size: 14px;" />
	<span style="font-size: 14px;">This will not last long. Some restrictions do apply. Not available on all dates and for all videographers.&nbsp;<br />
	<br />
	Check out our work now and see why this could be the easiest decisojn yet.&nbsp;<a href="http://washingtontalent.com/wedding-video/" target="_blank">http://washingtontalent.com/wedding-video/</a></span><br />
	<br />
	Reserve your exclusive Video package deal today or talk to your agent about other video specials that we can offer.&nbsp;</p>
<p style="margin: 0px; font-family: Arial; color: rgb(9, 52, 193); ">
	<a href="mailto:info@washingtontalent.com">Email Us Now</a></p>
<p style="margin: 0px; font-size: 12px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
	&nbsp;</p>
<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Times; ">
	<b>Angel Santiago</b><span style="font-family: 'Times New Roman'; "> </span><br />
	Marketing Director / Event Personality<span style="font-family: 'Times New Roman'; "> </span><br />
	Washington Talent Agency<span style="font-family: 'Times New Roman'; "> </span><br />
	angel@washingtontalent.com<b>&nbsp;</b></p>
<p style="margin: 0px 0px 16px; font-size: 16px; font-family: Verdana; color: rgb(4, 51, 255); ">
	<a href="http://washingtontalent.com/">Washingtontalent.com</a></p>
<div>
	&nbsp;</div>
<center>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
		<tbody>
			<tr>
				<td align="center" style="padding-bottom:0;" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" id="canspamBar" width="600">
						<tbody>
							<tr>
								<td align="left" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;" valign="top">
									Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a><br />
									<a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a><br />
									*|LIST:ADDRESSLINE|*</td>
								<td align="left" valign="top">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
