<div>
	<p style="margin: 0px; text-align: center; font-size: 20px; font-family: Arial; ">
		<b>Transform your room with Lighting</b></p>
	<p style="margin: 0px; font-size: 11px; font-family: Arial; color: rgb(189, 57, 24); ">
		&nbsp;</p>
	<p style="margin: 0px; font-size: 15px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		<br />
		<strong style="font-family: Arial; color: rgb(189, 57, 24); font-size: 11px;"><span style="color: rgb(0, 0, 0);"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;">Dear <%= contract.first_name %>,</span></span></span></strong><br />
		&nbsp;</p>
	<p style="margin: 0px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;">When thinking about decor and how you want your reception room to look you might not think about lighting right away but you should. The proper lighting can completely transform your room and help to accent your centerpieces and other decor. Most locations will have adjustable dimmers on their lights (not all do, it is important to ask) and to create the proper atmosphere for dinner and dancing you will want to bring the lights down, but you have to find the balance between a &quot;romantic atmosphere&quot; and &quot;too dark to see your food&quot;. When you find that balance the problem now is that the centerpieces that you so carefully chose may be really hard to see! Here is where lighting comes into play.</span></span></p>
	<p style="margin: 0px; font-size: 12px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		&nbsp;</p>
	<p style="margin: 0px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;">Pin-spots are white lights with a very tight focus that are hung from the ceiling and shone on key elements of your room such as centerpieces and your wedding cake to make them stand out. They are very subtle, you may not have ever noticed them before, but they make a big difference. Take a look at the picture below.<br />
		<br />
		<img align="left" height="348" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/PINSPOT15fd1ca.jpg" style="border: px solid ; width: 233px; height: 348px;" width="233" /></span></span><br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">The centerpiece on the left is with a pin-spot and on the right is without.<br />
		This type of light adds dramatic effect to your tables making your centerpieces jump to life.<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		Here are many examples of different ways we can supply the Pin-Spots depending on the room&#39;s dynamics.<br />
		<br />
		<img align="none" height="198" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/PinSpotDropCeiling2ea38a.jpg" style="width: 334px; height: 198px;" width="334" /><img align="none" height="198" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/PinSpotPolesfc2bca.jpg" style="width: 299px; height: 198px;" width="299" /><img align="none" height="199" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/PinSpotScrewIneeb557.jpg" style="width: 299px; height: 199px;" width="299" /><img align="none" height="199" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/PinSpotsTent290477.jpg" style="width: 299px; height: 199px;" width="299" /></span><br />
		<br />
		&nbsp;</p>
	<p style="margin: 0px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;">The other lights that you should consider are called uplights. Uplights are positioned along the walls about every 8-10 feet and shine a beam up the wall like the picture below:<br />
		<br />
		<img align="none" height="199" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/roomshot1bd99d.jpg" style="width: 300px; height: 199px;" width="300" /></span></span></p>
	<p style="margin: 0px; font-size: 15px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		&nbsp;</p>
	<p style="margin: 0px; font-size: 15px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		<span style="font-family: arial, helvetica, sans-serif; font-size: 14px;">Uplights can be any color you like, usually chosen to match the colors of your wedding. LED uplights can actually change color if you want to change the mood as the evening progresses. If you are having your ceremony at the same location as your reception uplights can really enhance the mood there also, dramatically lighting the walls or the Chuppa for a Jewish ceremony.</span></p>
	<p style="margin: 0px; font-size: 15px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		&nbsp;</p>
	<p style="margin: 0px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;">If you are looking for something simple yet elegant, how about you and your fiance&#39;s names in lights on the dance floor? These are called Custom Dancefloor Gobos.&nbsp;<br />
		<br />
		<img align="none" height="393" src="http://gallery.mailchimp.com/b29f51a64e53c97d78178cea9/images/wedding_dancefloor_gobo73d4c4.jpg" style="width: 290px; height: 393px;" width="290" /></span></span><br />
		<b style="text-align: center; font-size: 14px; font-family: arial, helvetica, sans-serif;">All&nbsp;photos- Jack Hartzman, Washington Photo</b></p>
	<p style="margin: 0px; font-size: 15px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		<br />
		&nbsp;</p>
	<p style="margin: 0px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		<span style="font-family:arial,helvetica,sans-serif;"><span style="font-size: 14px;">If you have any other questions about ways that lighting can enhance your wedding feel free to speak to your agent. Since you already a client of ours we would like to offer you <b>20% off of any lighting package </b>that you book with us.&nbsp;</span></span></p>
	<p style="margin: 0px; font-size: 15px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		&nbsp;</p>
	<p style="margin: 0px; color: rgb(12, 24, 95);">
		<font face="arial, helvetica, sans-serif"><span style="font-size: 14px;">Act now because this deal will not last forever.&nbsp;</span></font></p>
	<p style="margin: 0px; font-size: 15px; font-family: 'Comic Sans MS'; color: rgb(12, 24, 95); ">
		&nbsp;</p>
	<p style="margin: 0px; font-family: Arial; color: rgb(9, 52, 193); ">
		<a href="mailto:info@washingtontalent.com">Email Us Now</a><br />
		&nbsp;</p>
	<p style="margin: 0px 0px 16px; font-size: 16px; font-family: 'Times New Roman'; ">
		<span style="font-family: Times; "><b>Angel Santiago</b></span><br />
		Marketing Director / Event Personality<br />
		Washington Talent Agency<br />
		angel@washingtontalent.com</p>
</div>
<div>
	&nbsp;</div>
<center>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
		<tbody>
			<tr>
				<td align="center" style="padding-bottom:0;" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" id="canspamBar" width="600">
						<tbody>
							<tr>
								<td align="left" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;" valign="top">
									Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a><br />
									<a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a><br />
									*|LIST:ADDRESSLINE|*</td>
								<td align="left" valign="top">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
