<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>

<div lang="EN-US" link="blue" vlink="purple">
<div>
<p align="center" style="text-align:center"><b><span style="font-size:15.0pt;font-family:Arial;color:#000099">Welcome to the

Washington Talent Agency family!</span></b><b><span style="font-size:15.0pt;font-family:Arial;color:#3b607e"> </span></b></p>



<p><span style="font-size:8.5pt;font-family:Arial;color:#bd3919"> </span></p>



<p><span style="font-size:9.0pt;font-family:Arial;color:black"><br>

<br>

Welcome to the family! We&#39;re so glad to be working with you on your special

day, and we hope you feel right at home. Now that you&#39;ve chosen your entertainment

with us, it&#39;s time to review all of the other ways we can help you. Don&#39;t ever

forget, we offer much more than music for your celebration!</span><span style="font-size:9.0pt;font-family:Arial;color:#0b175f"> <br>

<br>

</span><b><span style="font-size:9.0pt;font-family:Arial;color:black">Click the

links below to check out the other services we offer!</span></b><span style="font-size:9.0pt;font-family:Arial;color:#0b175f"> </span></p>



<ul type="disc">

 <li style="color:#0b175f"><span style="font-size:10.0pt;font-family:Arial"><a href="http://washingtontalent.com/bat-and-bat-mitzvah-photographers/" target="_blank"><span style="color:#0934c1">Photography</span></a></span><span style="font-size:9.0pt;font-family:Arial"><a href="https://washingtontalent.infusionsoft.com/app/linkClick/1960/cf0eeb18be243148/0/5a1db244d150bba0" target="_blank"></a> </span></li>

 <li style="color:#0b175f"><span style="font-size:9.0pt;font-family:Arial"><a href="http://washingtontalent.com/barbat-mitzvah-video/" target="_blank"><span style="color:#0934c1">Video Services</span></a><a href="https://washingtontalent.infusionsoft.com/app/linkClick/1962/0dee8a968f0d4a80/0/5a1db244d150bba0" target="_blank"></a> </span></li>

 <li style="color:#0b175f"><span style="font-size:9.0pt;font-family:Arial"><a href="http://washingtontalent.com/novelties/" target="_blank"><span style="color:#0934c1">Cocktail Hour Entertainment</span></a><a href="https://washingtontalent.infusionsoft.com/app/linkClick/1964/0436c1cc5ddc8e0b/0/5a1db244d150bba0" target="_blank"></a> </span></li>

 <li style="color:#0b175f"><span style="font-size:9.0pt;font-family:Arial"><a href="http://washingtontalent.com/mitzvah-lighting/" target="_blank"><span style="color:#0934c1">Lighting &amp; Multi-Media</span></a> </span></li>

</ul>



<p><b><span style="font-size:9.0pt;font-family:Arial;color:black">Here are some other things to keep your eye out for:</span></b><span style="font-size:9.0pt;font-family:Arial;color:#0b175f"> </span></p>



<ul type="disc">

 <li style="color:black"><b><span style="font-size:10.0pt;font-family:Arial">Questionnaire </span></b><span style="font-size:10.0pt;font-family:Arial">- You will receive our

     extremely helpful questionnaire sent to you 6-8 weeks prior to your event

     date. This multi-page document acts as a complete planning tool. It asks

     you to provide all the important information of your party; from the

     announcements, to blessings, and everything in between. When you return

     the questionnaire, Washington Talent will keep a copy, and send the act

     leader a copy so everyone is literally on the &quot;same page&quot;.</span><span style="font-size:9.0pt;font-family:Arial"> </span></li>

</ul>



<ul type="disc">

 <li style="color:black"><b><span style="font-size:10.0pt;font-family:Arial">A call from your act - </span></b><span style="font-size:10.0pt;font-family:Arial">This will range depending on

     what act you have booked with us. If you would like to be contacted sooner

     than later, please email </span><span style="font-size:9.0pt;font-family:Arial">your Event Consultant at Washington Talent, and they will make it

     happen for you. </span></li>

</ul>



<p><span style="font-size:10.0pt;font-family:Arial;color:black">We know there

were many event companies to choose from, and we are so thrilled you chose us.

Your event is a once in a lifetime event so please don&#39;t hesitate to ask us

anything that will help us to make it the best it can be! </span><span style="font-size:9.0pt;font-family:Arial;color:black"></span></p>



<p><span><span style="font-size:10.0pt;font-family:Arial;color:black">Mazel</span></span><span style="font-size:10.0pt;font-family:Arial;color:black"> <span>Tov</span> to you and your family!</span><span style="font-size:9.0pt;font-family:Arial;color:black"> </span></p>



<p><span style="font-size:9.0pt;font-family:Arial;color:black">Sincerely,

</span><span style="font-size:9.0pt;font-family:Arial;color:#0b175f"></span></p>



<p><strong><span style="font-family:Times">Angel Santiago</span></strong> <br>

<span style="font-family:Times">Marketing Director / Event Personality</span> <br>

<span style="font-family:Times">Washington Talent Agency</span> <br>

<span style="font-family:Times"><a href="mailto:angel@washingtontalent.com" target="_blank">angel@washingtontalent.com</a><strong><span style="font-family:Times"> </span></strong></span> </p>



<p><a href="http://washingtontalent.com/" title="Washingtontalent.com" target="_blank"><span style="font-family:Verdana">Washingtontalent.com</span></a>

</p>



<p> </p>



</div>



</div>





</body></html>