<div>
    <p style="margin: 0px; text-align: center; font-size: 20px; font-family: Arial; color: rgb(1, 26, 153); ">
        <b>Welcome to the Washington Talent Family!</b></p>
    <p style="margin: 0px; font-size: 11px; font-family: Arial; color: rgb(189, 57, 24); ">
        &nbsp;</p>
    <p style="margin: 0px; font-size: 12px; font-family: Arial; ">
        <br />
        <br />
        <strong style="color: rgb(189, 57, 24); font-size: 11px;"><span style="color: rgb(0, 0, 0);"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;">Dear <%= contract.first_name %>,</span></span></span></strong><br />
        <br />
        Welcome to the family! We&#39;re so glad to be working with you on your special day, and we hope you feel right at home. Now that you&#39;ve chosen your entertainment with us, it&#39;s time to review all of the other ways we can help you. Don&#39;t ever forget, we offer much more than music for your celebration!<span style="color: #0c185f"> </span><br />
        <br />
        <b>Click the links below to check out the other services we offer!</b></p>
    <ul>
        <li style="margin: 0px; font-size: 12px; font-family: Arial; color: rgb(9, 52, 193); ">
            <a href="http://washingtontalent.com/wedding-photographers/"><b>Photography</b></a></li>
        <li style="margin: 0px; font-size: 12px; font-family: Arial; color: rgb(9, 52, 193); ">
            <a href="http://washingtontalent.com/wedding-video/"><b>Video Services</b></a></li>
        <li style="margin: 0px; font-size: 12px; font-family: Arial; color: rgb(9, 52, 193); ">
            <a href="http://washingtontalent.com/novelties/"><b>Novelties</b></a></li>
        <li style="margin: 0px; font-size: 12px; font-family: Arial; color: rgb(4, 51, 255); ">
            <a href="http://washingtontalent.com/davinci-strings/"><b>String Musicians (Ceremony Services)</b></a></li>
        <li style="margin: 0px; font-size: 12px; font-family: Arial; color: rgb(9, 52, 193); ">
            <a href="http://washingtontalent.com/wedding-lighting/"><b>Lighting Design</b></a></li>
        <li style="margin: 0px; font-size: 12px; font-family: Arial; color: rgb(9, 52, 193); ">
            <a href="http://washingtontalent.com/capital-music/"><b>And much more</b></a></li>
    </ul>
    <p style="margin: 0px; font-size: 12px; font-family: Arial; ">
        <b>Here are some other things to keep your eye out for:</b></p>
    <ul>
        <li style="margin: 0px; font-family: Arial; ">
            <b>Questionnaire </b>- You will receive our extremely helpful questionnaire sent to you 6-8 weeks prior to your event date. This multi-page document acts as a complete planning tool. It asks you to provide all the important information of your party; from the announcements to blessings, and everything in between. When you return the questionnaire, Washington Talent will keep a copy, and send the act leader a copy so everyone is literally on the &quot;same page&quot;.</li>
    </ul>
    <ul>
        <li style="margin: 0px; font-family: Arial; ">
            <b>A call from your act - </b>This will range depending on what act you have booked with us but typically will be the week of your event. If you would like to be contacted sooner please email <span style="font-size: 12px; ">your Event Consultant at Washington Talent, and they will make it happen for you.</span></li>
    </ul>
    <p style="margin: 0px 0px 16px; font-family: Arial; ">
        I know you have many event companies to choose from, and I am so thrilled you chose Washington Talent. Your event is a once in a lifetime event so please don&#39;t hesitate to ask us anything that will help you to make it the best it can be!</p>
    <p style="margin: 0px 0px 16px; font-family: Arial; ">
        I welcome your family to the Washington Talent family.</p>
    <p style="margin: 0px; font-size: 12px; font-family: Arial; ">
        Sincerely,</p>
    <p style="margin: 0px 0px 16px; font-size: 16px; font-family: Times; ">
        <b>Angel Santiago</b><span style="font-family: 'Times New Roman'; "> </span><br />
        Marketing Director / Event Personality<span style="font-family: 'Times New Roman'; "> </span><br />
        Washington Talent Agency<span style="font-family: 'Times New Roman'; "> </span><br />
        angel@washingtontalent.com<b>&nbsp;</b></p>
    <p style="margin: 0px 0px 16px; font-size: 16px; font-family: Verdana; color: rgb(4, 51, 255); ">
        <a href="http://washingtontalent.com/">Washingtontalent.com</a></p>
    <p style="margin: 0px; font-size: 16px; font-family: 'Times New Roman'; ">
        &nbsp;</p>
</div>
<div>
    &nbsp;</div>
<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
        <tbody>
            <tr>
                <td align="center" style="padding-bottom:0;" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" id="canspamBar" width="600">
                        <tbody>
                            <tr>
                                <td align="left" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;" valign="top">
                                    Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a><br />
                                    <a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a><br />
                                    *|LIST:ADDRESSLINE|*</td>
                                <td align="left" valign="top">
                                    &nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
