<center>
	<p style="margin: 0px 0px 12px; font-size: 20px; font-family: Arial; color: rgb(1, 26, 153); ">
		<b>Welcome to the Washington Talent Agency Family!</b><br />
		&nbsp;</p>
	<p style="margin: 0px 0px 12px; font-size: 20px; font-family: Arial; color: rgb(1, 26, 153); text-align: left;">
		<strong style="color: rgb(189, 57, 24); font-size: 11px;"><span style="color: rgb(0, 0, 0);"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 14px;">Dear <%= @contract.first_name %>,</span></span></span></strong></p>
	<p style="margin: 0px 0px 12px; font-family: Arial; text-align: left; ">
		Welcome to the family! We&#39;re so glad to be working with you on your special day, and we hope you feel right at home. Now that you&#39;ve chosen your entertainment with us, it&#39;s time to review all of the other ways we can help you. Don&#39;t ever forget, we offer much more than music for your celebration!<span style="color: #0c185f"> </span><br />
		<br />
		<b>Click the links below to check out the other services we offer!</b></p>
	<ul>
		<li style="margin: 0px; font-size: 13px; font-family: Arial; color: rgb(9, 52, 193); text-align: left; ">
			<a href="http://washingtontalent.com/bat-and-bat-mitzvah-photographers/">Photography</a></li>
		<li style="margin: 0px; font-family: Arial; color: rgb(9, 52, 193); text-align: left; ">
			<a href="http://washingtontalent.com/barbat-mitzvah-video/">Video Services</a></li>
		<li style="margin: 0px; font-family: Arial; color: rgb(9, 52, 193); text-align: left; ">
			<a href="http://washingtontalent.com/novelties/">Cocktail Hour Entertainment</a></li>
		<li style="margin: 0px; font-family: Arial; color: rgb(9, 52, 193); text-align: left; ">
			<a href="http://washingtontalent.com/mitzvah-lighting/">Lighting &amp; Multi-Media</a></li>
	</ul>
	<p style="margin: 0px 0px 12px; font-family: Arial; text-align: left; ">
		<b>Here are some other things to keep your eye out for:</b></p>
	<ul>
		<li style="margin: 0px; font-size: 13px; font-family: Arial; text-align: left; ">
			<b>Questionnaire </b>- You will receive our extremely helpful questionnaire sent to you 6-8 weeks prior to your event date. This multi-page document acts as a complete planning tool. It asks you to provide all the important information of your party; from the announcements, to blessings, and everything in between. When you return the questionnaire, Washington Talent will keep a copy, and send the act leader a copy so everyone is literally on the &quot;same page&quot;.</li>
	</ul>
	<ul>
		<li style="margin: 0px; font-size: 13px; font-family: Arial; text-align: left; ">
			<b>A call from your act - </b>This will range depending on what act you have booked with us. If you would like to be contacted sooner than later, please email <span style="font-size: 12px; ">your Event Consultant at Washington Talent, and they will make it happen for you.</span></li>
	</ul>
	<p style="margin: 0px 0px 12px; font-size: 13px; font-family: Arial; text-align: left; ">
		We know there were many event companies to choose from, and we are so thrilled you chose us. Your event is a once in a lifetime event so please don&#39;t hesitate to ask us anything that will help us to make it the best it can be!</p>
	<p style="margin: 0px 0px 12px; font-size: 13px; font-family: Arial; text-align: left; ">
		Mazel Tov to you and your family!</p>
	<p style="margin: 0px 0px 12px; font-family: Arial; text-align: left; ">
		Sincerely,</p>
	<p style="margin: 0px 0px 12px; font-family: Times; text-align: left; ">
		<b>Angel Santiago</b><br />
		Marketing Director / Event Personality<br />
		Washington Talent Agency<br />
		<a href="mailto:angel@washingtontalent.com"><span style="color: rgb(4, 46, 238); ">angel@washingtontalent.com</span></a></p>
	<p style="margin: 0px 0px 12px; font-family: Verdana; color: rgb(4, 46, 238); text-align: left; ">
		<a href="http://washingtontalent.com/">Washingtontalent.com</a></p>
	<p style="margin: 0px 0px 12px; font-family: Times; min-height: 14px; text-align: left; ">
		&nbsp;</p>
	<br />
	<table border="0" cellpadding="20" cellspacing="0" id="canspamBarWrapper" style="background:#EEEEEE  !important; border-top:1px solid #DDDDDD; clear:both;" width="100%">
		<tbody>
			<tr>
				<td align="center" style="padding-bottom:0;" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" id="canspamBar" width="600">
						<tbody>
							<tr>
								<td align="left" style="color:#505050 !important;font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;vertical-align:top !important;text-align:left !important;" valign="top">
									Sent to *|EMAIL|* &mdash; <a href="*|ABOUT_LIST|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:underline !important;color:#404040 !important;"><em>why did I get this?</em></a><br />
									<a href="*|UNSUB|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="font-family:Verdana,Arial,Sans !important;font-size:11px !important;font-weight:normal !important;font-style:normal !important;text-decoration:none !important;color:#369 !important;">update subscription preferences</a><br />
									*|LIST:ADDRESSLINE|*</td>
								<td align="left" valign="top">
									&nbsp;</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</center>
<style type="text/css">
@media only screen and (max-width: 480px){
                                #canspamBar {display:inline;}
                                #canspamBar td {display:block; margin:0 0 10px 0; text-align:center !important;}
                            }</style>
