<div class="ui piled segment">
    <div class="ui top attached black label">Act Notes
    </div><br>
            <h3 class="sectionheaders"><span>Act Notes</span></h3>
                <% unless  contract.act_notes == "nil" %>
                    <%= contract.act_notes %>
                <% end %>
</div>