<% unless  contract.act_notes == "nil" %>
<div class="ui piled segment">
    <div class="ui top attached black label">Act Notes
    </div><br>

                   <p> <%= contract.act_notes %></p>
</div>
<% end %>