<div class="span8 white thumbnail margintop">
            <h3 class="sectionheaders"><span>Contract Provisions</span></h3>
                <% unless contract.contract_provisions == "nil" %>
                <%=  contract.contract_provisions.gsub('"', ' ') unless contract.contract_provisions.blank? %>
                <% end %>
            <h3 class="sectionheaders"><span>Act Notes</span></h3>
                <% unless  contract.act_notes == "nil" %>
                    <%= contract.act_notes %>
                <% end %>
            <h3 class="sectionheaders"><span>Additional Services Provided</span></h3>
            <ul>
            <% @additional.each do |addi| %>
            <% if current_user.is? :everything %>
            <li><%= link_to "#{addi.act_booked} - #{addi.type_of_act} - #{addi.act_form}", addi %></li>
            <% else %>
            <li><%= "#{addi.act_booked} - #{addi.type_of_act} - #{addi.act_form} - #{addi.eventtime}" %></li>
            <% end %>
            <% end %>
            </ul>
</div>