<!DOCTYPE html>
<html>
<head>
    <title>Confirm My Gig</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag "jquery.mobile.flatui.min.css", media: "all" %>

    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <%#= stylesheet_link_tag    "jquery.mobile.flatui.min.css" %>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
</head>
<body>

<div data-role="page" data-add-back-btn="true">
 <div data-role="panel" id="leftpanel1" data-theme="a">
        <%= render 'navstuff'  %>
    </div><!-- /panel -->

    <div data-role="header">

        <h1>Confirm My Gig</h1>

        <a href="#leftpanel1" data-icon="check" data-theme="b" class="ui-btn-right">Menu</a>

    </div>
   <!-- /header -->

    <div data-role="content" data-theme="f">
         <%= yield %>
    </div><!-- /content -->

    <div data-role="footer">
        <h4></h4>
    </div><!-- /footer -->
</div><!-- /page -->

</body>
</html>
