#login div.inputwrapper.animate3.bounceIn input.btn.btn-primary {
    color: white;
    width: 100%;
    background-color: maroon;
    font-weight: bold;
}
div.pagetitle { margin-left: 4px; padding-top: 5px; }

div.pageheader {
    padding-top: 8px;
    padding-bottom: 0;
}