<% @title = "Showing activity" %>

<div class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Index</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @activity.index %></span>
    </div>
  </div>
  
  <div class="form-actions">
    <%= link_to icon_tag("pencil") + ' Edit', edit_activity_path(@activity), class: 'btn btn-primary' %>
    <%= link_to 'Back', activities_path, class: 'btn' %>
  </div>
</div>

