<ul class="sidebar nested blackback">
	<h2>Group Acts</h2>
	<table>
<% @otheracts.each do |otheract| %>
<tr>
          <td><%= link_to "#{otheract.fullname}", contracts_path(:act_code => otheract.actcode) %> </td>
			<td><%= link_to "#{otheract.actcode}", contracts_path(:act_code => otheract.actcode) %></td>
    </tr>
<% end %>
</table>
</ul>

