<% if can? :see_others, Contract %>
<h3 class="open">Group Acts</h3>
<ul class="leftmenu">
<% @getallbycompnay.each do |getall| %>
<li><%= link_to "#{getall.actcode} - #{getall.description}", contracts_path(:act_code => getall.actcode)  %></li>
<% end %>
</ul>
<% end %>
