<% if alert %>
 <div class="inputwrapper login-alert">
        <div class="alert alert-error">
            <%#= icon_tag "remove" %>
                <%= alert %>
            </div>
    </div>

<% end %>

<% if notice %>
<div class="inputwrapper login-alert">
       <div class="alert alert-error">

    <%#= icon_tag "info-sign" %> <%= notice %>
        </div>
</div>
<% end %>