<footer>
  <div class="container">
    <p class="pull-right">

    </p>
    <p>&copy; <%= Date.today.year %> All rights reserved.</p>
    <!-- <p>Design by <%#= link_to "Dresssed", "http://dresssed.com" %>.</p> -->
  </div> <!-- /.container -->
</footer>
