<footer>
  <div class="container">
    <p class="pull-right">

    </p>
    <p>&copy; <%= Date.today.year %> All rights reserved.</p>
    <!-- <p>Design by <%#= link_to "Dresssed", "http://dresssed.com" %>.</p> -->
  </div> <!-- /.container -->
<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/x27oO1HVMi2yDXRIXmEtHA.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
</footer>
