<ul class="shortcuts">
    <li class="events">
        <%= link_to calendar_path do %>
        <%= content_tag(:span, "", class: "shortcuts-icon iconsi-event") %>
        <%= content_tag(:span, "Calendar", class: "shortcuts-label") %>
        <% end %>
    </li>
    <!-- <li class="products">
                                   <a href="">
                                       <span class="shortcuts-icon iconsi-cart"></span>
                                       <span class="shortcuts-label">Products</span>
                                   </a>
                               </li>
                               <li class="archive">
                                   <a href="">
                                       <span class="shortcuts-icon iconsi-archive"></span>
                                       <span class="shortcuts-label">Archives</span>
                                   </a>
                               </li>
                               <li class="help">
                                   <a href="">
                                       <span class="shortcuts-icon iconsi-help"></span>
                                       <span class="shortcuts-label">Help</span>
                                   </a>
                               </li>
                               <li class="last images">
                                   <a href="">
                                       <span class="shortcuts-icon iconsi-images"></span>
                                       <span class="shortcuts-label">Images</span>
                                   </a>
                               </li> -->
</ul>