<!doctype html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<title>WTA Admin Center</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS Styles -->
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
	<!-- Google WebFonts -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
</head>
<body class="login">
	<section role="main">
	
		<a href="/" title="Back to Homepage"></a>
	
		<!-- Login box -->
		<article id="login-box">
		
			<div class="article-container">
			
				<p>Welcome to the New WTA Act Manager and Confirmation Center.</p>
				
				<!-- Notification -->
				<div class="notification error">
					<a href="#" class="close-notification" title="Hide Notification" rel="tooltip">x</a>
					<% flash.each do |key, msg| -%>
								  <%= content_tag :p, msg, :id => key -%>
								<% end -%>
				</div>
				<!-- /Notification -->
		
			<%= yield %>
		
			</div>
		
		</article>
		<!-- /Login box -->
	
	</section>
</body>
</html>